[2016-12-12 10:59] musicEnfanthen opened #1 "Exported parameter ValueCheckingMode has or is using private name ('Anonymous class')."
On Windows 7, 64-bit (using Node v6.9.0, FF, angular2 v2.23, angular-cli v1.0.0-beta.22-1, typescript v~2.0.3) I get the error message

when trying to `ng serve ` a project using `json2typescript` package. Tried it with [SALSAH](https://github.com/dhlab-basel/Salsah) (using json2typescript v0.9.3) and a completely new TestApplication as described in the README here (with latest v0.9.5).

Changing

[2016-12-12 11:10] musicEnfanthen opened #2 "update README"
Please add the following missing statements in the TestApplication example of the README:

In `Country.ts`:
- Add  `import { City } from "./city";`

In `app.component.ts`:

- Add OnInit to the import:  `import { Component, OnInit } from '@angular/core';`

- Replace `import { City } from "./city";` (not needed) with  `import { Country } from "./country"`;

[2017-01-18 15:54] andreas-aeschlimann commented on #2
Will be added to next version

[2017-01-18 15:54] #2 closed

[2017-01-18 15:57] andreas-aeschlimann commented on #1
Have you tried upgrading TypeScript? It seems like this issue is resolved in later versions.

Tested with:
angular-cli 1.0.0-beta.25.5
typescript 2.1.4
json2typescript 0.9.5

Make sure you upgrade angular-cli, because there were issues with TypeScript 2.1.x and earlier angular-cli versions.

[2017-02-15 10:58] rusmichal opened #3 "XHR error (404 Not Found) loading"
Maybe something I missunderstood. I use Angular2 and I have installed json2typescript with npm. When I used it I got:

(SystemJS) XHR error (404 Not Found) loading http://localhost:5555/node_modules/json2typescript/index.js

[code]

In console log I got:
[code]

What I am doing wrong?

[2017-02-21 09:20] andreas-aeschlimann commented on #3
Which versions do you use (Angular/TypeScript)?

Have you been able to fix the issues?

[2017-02-27 23:11] musicEnfanthen commented on #1
Sorry for the late reply, I had to wait upgrading typescript or angular-cli for several reasons. And thanks for the hint, with angular-cli 1.0.0-beta.30.0 I don't get the error anymore.

[2017-02-28 13:22] Messier82 opened #4 "Feature request: serialize by class"
Hi! I really liked this library and just wondered, can we, developers, have slightly improved serialize function, so it can accept a class same way, as deserialize method receives it? Thank you!

[2017-02-28 23:43] andreas-aeschlimann commented on #1
No worries, thanks for the feedback.

[2017-02-28 23:43] #1 closed

[2017-02-28 23:48] andreas-aeschlimann commented on #4
Serializing an object is basically just calling `JSON.stringify(instance)`. I have implemented that as follows:

[code]

Or did you mean something else?

[2017-03-09 13:57] rusmichal commented on #3
Yes. I have download manullay json-convert.ts file and added into project

[2017-03-09 14:27] rusmichal opened #5 "Parse objects array"
Hey Can you tell me what I am doing wrong?

I use your library to parse my API data into models in my AngularJS app. I have simple model:

[code]

My response is:

[code]

I use simple fuction to parse that json into my `Application` model:

[code]

I got array of `Application` models but fields: `packageName, versionName, versionCode` are undefined

[2017-03-11 17:10] andreas-aeschlimann commented on #3
Well but that's not how it should be. ;-) Like this, updating will be rather painful in the future.

It should work from node_modules. With the current Angular version (2.4.0) and Angular CLI (1.0.0-rc.1) it should work out of the box.

[2017-03-11 17:15] andreas-aeschlimann commented on #5
I am not really sure if it works that way. Did you try the longer alternative:

[code]

Please let me know if that works or not, so I can look further into it.

[2017-03-11 20:45] #3 closed

[2017-03-30 09:45] gempain opened #6 "Custom converters"
Hello,

First let me thank you for this amazing project. It works well, and the error logging is incredibly accurate and informative. I have rarely seen a library designed and implemented with such care and rigor.

The only missing feature, which would make it perfect, is the ability to set custom converters. May be it's already implemented and I haven't seen it in the docs. Another JSON mapper li

[2017-03-31 06:01] prabharj opened #7 "Unable to parse json without key"
My JSON is as follows:

[code]

You notice that the members of the paginatedHits array do not have keys. How can I deserialize this JSON?

[2017-03-31 06:45] prabharj commented on #7
I found the solution. Hence, closing this.

[2017-03-31 06:45] #7 closed

[2017-04-02 00:19] andreas-aeschlimann commented on #6
Hey @gempain, interesting point. Can you provide a few code examples how this converter could work? I think I know what you mean, but just to make sure. :-)

[2017-04-02 00:23] andreas-aeschlimann commented on #5
Closing due to inactivity. Will reopen if really an issue.

[2017-04-02 00:23] #5 closed

[2017-04-02 00:24] andreas-aeschlimann commented on #4
Closing due to inactivity. Will reopen if really an issue.

[2017-04-03 12:21] gempain commented on #6
Hey @andreas-aeschlimann ,

Well, you're on the right path. But the converter should be typed, and we also need a serializer. In my previous post I forgot to mention the use cases where this feature would be useful. Imagine you want to work with types other than String, Number, Boolean or Date (is don't think Date is supported in the current version, but forgive me if I am wrong), for example let'

[2017-04-03 18:21] andreas-aeschlimann commented on #6
It looks interesting, I will certainly will look into it in details when I have time.

`*1` The deserializer must return the type that is given, or null (if allowed in json2typescript). After all, json2typescript is here to force you to be strict on the API side. If your custom converter fails, there must be something wrong which you should correct and an exception should be thrown.

`*2` Serializ

[2017-04-04 08:27] gempain commented on #6
Agree 100% !

[2017-04-11 07:10] onimoger opened #8 "Feature request: supporting generics"
First thank you for a nice library.

I would like to get this working with generics. Example in code:
[code]
Is this somehow possible?

[2017-04-12 22:02] andreas-aeschlimann commented on #8
I am no expert, but if I am right you cannot use the generic T in any other way than a type hint in TypeScript. I had a similar issue somewhere else and I think I couldn't make it work.

We should absolutely investigate it because it would be a nice feature.

[2017-04-19 10:58] Messier82 commented on #4
I meant to serialize and rename all parameters, how they're defined by JsonProperty in the class itself

[2017-04-20 12:20] andreas-aeschlimann commented on #4
I don't follow, can you please make an example and explain what you mean? Maybe you mean something similar like #6?

[2017-04-20 12:35] andreas-aeschlimann commented on #6
I will look into this soon. At the moment I am busy with another project, so it will take some time.

I will keep this thread open until I finished it!

[2017-04-20 12:46] Messier82 commented on #4
No. For example: we have some class, described to use JsonConvert. It have 3 params: _id, _name, _age and JsonProperty is set up to deserialize them from id, name and age(without underscores) attributes. It's working like a charm. But I want to SERIALIZE them and in output have properties, that I described by JsonProperties(id, name, age), not original ones(_id, _name, _age)

[2017-04-20 19:38] andreas-aeschlimann commented on #7
Cool, thank you and enjoy.

[2017-04-20 19:40] andreas-aeschlimann commented on #4
Basically you have this scenario:

JSON:
_id, _name, _age

TypeScript:
id, name, age

The deserialization maps _id to id, _name to name and _age to age.

Am I correct you would like the serialize() function to map id to _id, name to _name and age to _age again, as it was in the JSON?

[2017-04-24 08:14] Messier82 commented on #4
Exactly!

[2017-04-24 11:42] andreas-aeschlimann commented on #4
Ok, I will keep this issue open and put it on my to do list for a future version.

[2017-04-25 08:32] Messier82 commented on #4
Thank you!

[2017-05-05 21:21] davidonlaptop opened #9 "How to map union types"
In typescript, you can do this:
[code]

How to deserialize travelA and travelB with json2typescript ?

[2017-05-26 21:34] vinaysoni opened #10 "Packaging json2typescript as a part of a library"
Hi,

Appreciate your work on json2typescript. It is great!

I can  make json2typescript work in my UI project (an end-user project) successfully and love it. However, when I try to package it as a part of a library (like ng2utils), it fails with this error:

**_"Error at /home/vin/dev/ang/ng2utils/node_modules/json2typescript/src/json2typescript/json-convert.ts:13:5: Public static property 'ValueC

[2017-05-30 08:01] RAHILKHERA commented on #4
Waiting for this enhancement.

[2017-05-30 23:35] andreas-aeschlimann commented on #10
What Angular version are you using? We used to have problems with this exact property type when working with Angular <2.1 if I remember correctly.

[2017-05-30 23:36] andreas-aeschlimann commented on #9
As of now, there is no union type.

But you can deserialize it with "any", but then no type checking is done for your property story in Travel.

Soon we are going to add custom deserialization, so then it should be possible. I will keep this issue open to make sure we will look into it.

[2017-05-30 23:38] andreas-aeschlimann commented on #4
@RAHILKHERA I will work on this after finishing my current project in around 2 weeks!

[2017-05-31 03:52] davidonlaptop commented on #9
thanks @andreas-aeschlimann

[2017-05-31 03:52] RAHILKHERA commented on #4
@andreas-aeschlimann Thanks a lot. Please comment here whenever it is ready.

[2017-06-05 03:41] HeWhoHasNoName commented on #4
@RAHILKHERA looking forward to this feature as I was curious about it not being implemented myself... as generally in the java world (being a java dev) this is what I was expecting.  Thanks and look forward to see the update.

[2017-06-07 07:07] savanvadalia opened #11 "Unable to use the library with Ionic"
Hi There,

Thank you for making this library, can't wait to start using it.
Just have a bit of issue using the lib.

See below error for the screenshot.
I have used the instruction provided to install the lib
npm install json2typescript

![image](https://user-images.githubusercontent.com/17091755/26866100-0aea3792-4ba3-11e7-87af-47c933206424.png)

[2017-06-08 21:56] andreas-aeschlimann commented on #11
For starters, there is no index.js in json2typescript.

I am not familiar with Ionic because I have never used it. If you want a quick fix, you can try to simple include the necessary *.ts file from our library and call it directly.

I will start with Ionic in a few weeks as well, so I might fix the issue when I encounter it as well. Feel free to let me know if you know how to fix it!

[2017-06-09 00:23] savanvadalia commented on #11
Hi Andreas,

Thank you for your response.

**Regarding Workaround**
As per your suggested work around fix, do I just need to include json-convert.ts file in my project?

**Regarding the Issue**
I think ionic build process ultimately converts *.ts to .js file.

Ionic is a cross-platform hybrid mobile application framework, underneath it still uses the latest Angular version. If you can get it worki

[2017-06-09 00:31] andreas-aeschlimann commented on #11
Well, in the web (Angular) in the end everything gets translated to JavaScript before runtime as well. You just have to make sure, the JsonConvert TypeScript file gets transpiled into JavaScript as all your other files as well. I don't know how this works in Ionic, but in Angular a simple import is enough.

[2017-06-12 20:57] gempain opened #12 "Compiled version in NPM distribution"
Hello !

For some reason, when I install the package with `npm`, there is no `.js` compiled version of the sources. In some situations, you can get an `Error: Cannot find module 'json2typescript'` exception at runtime.

In my case, it is because I am webpacking a NodeJS backend. Packages in `node_modules` are not packed with my sources. They depend on packages installed in `node_modules`. Hence, a

[2017-06-13 00:25] savanvadalia commented on #12
Not an nodejs expert still new java-script world. But may be this might this issue too which i have raised
https://github.com/dhlab-basel/json2typescript/issues/11

[2017-06-13 02:02] savanvadalia commented on #10
I think this issue is related to the typescript version and not the angular, I get the same error on one of my project which uses typescript 2.2.1 but I don't get this error on a project which has typescript version 2.3.4.

I agree with @vinaysoni  its better to put the ValueCheckingMode outside of the JsonConvert Class.
Also I would suggest to use typescript enum syntax which serves the same purp

[2017-06-13 05:22] savanvadalia opened #13 "Throw error if a property is not set to undefined"
Hi

Loving the strict type checking of this library.
Also when the debugMode is ON it really throws out some nice useful errors + messages.

I understand the library requirement for the mapping to work properly we need to initialize the map property as "undefined". But sometimes it is easy to miss out that part and you spend time to investigate what went wrong.

Is it possible to have a check with

[2017-06-13 05:32] gempain commented on #11
In Angular they configured Webpack to package node modules with the bundle, so the problem of not having an index.js is not raised. In Ionic you may fix your problem by importing the lib using a relative path like '../../json2typescript'. This will force Ionic to compile and package the lib with your bundle. I don't know exactly how Angular packages node modules imported with no relative math (i.e

[2017-06-13 07:03] savanvadalia commented on #11
@gempain @andreas-aeschlimann

Thank you for your reply.

Ideally Ionic build scripts automatically picks up 3rd party dependencies from the *node_modules* if you have a dependency in the code somewhere in your application pretty much the same way as angular.

I tried your suggestion by providing a relative path and it worked perfectly fine
This how i used the relative path in my code
`import { Js

[2017-06-13 12:00] gempain commented on #11
@savanvadalia
You are welcome :) But I never said this was a good workaround. I just tried to explain why the problem was occurring. Moreover, it is a bad practice to import npm modules with a relative path.

The cleanest you can do IMHO is to copy the `json-convert.ts` file in your project sources, just as you did. That's why I do for my own projects until the npm version is fixed (I am working o

[2017-06-13 12:16] savanvadalia commented on #11
@gempain

May be I confused you, pardon my English :)

I use VS-Code as an IDE and auto-import does work fine if I use `json-convert.ts` as local copy into my project sources. Auto import does not work for node_modules relative path e.g. `import { JsonConvert } from '../../../node_modules/json2typescript';` which as you said is a bad practice and for the same reason IDE might be restricting it.

I

[2017-06-13 20:45] andreas-aeschlimann commented on #13
To be honest I don't know how to answer that. The problem is that with no assignment of a value (including null or undefined), the variable is non-existent to the type-checker.

If someone knows a solution, I would be happy to implement it. Because this is indeed a possible source of error.

[2017-06-13 20:48] andreas-aeschlimann commented on #12
I will added a compiled version to the next release. I didn't know this was necessary in that case.

[2017-06-13 22:50] andreas-aeschlimann commented on #6
After making some tests and putting some thoughts into it, I see two options how to implement the custom converter:

1) Extend the current decorator `@JsonProperty` and make it allow the converter interface as second parameter as the type instead. Your example above

`@JsonProperty("creationDate", Moment, MomentConverter)`

makes no sense in my eyes because the expected type (here: `Moment`) is ob

[2017-06-14 00:28] andreas-aeschlimann commented on #10
I don't understand. According to my info it should be possible from TypeScript 1.6 to have a static class as a member of another class.

[2017-06-14 00:28] #12 closed

[2017-06-14 00:30] andreas-aeschlimann commented on #9
I don't think this will be possible directly, except by custom converters as discussed in #6.

I am going to implement #6 and close this issue for now. Hopefully, you can use it the way that is planned.

[2017-06-14 00:30] #9 closed

[2017-06-14 00:31] andreas-aeschlimann commented on #11
I'll add a compiled json-convert.js to the next release. Will this suffice or is there more to do to make it work with Ionic?

[2017-06-14 06:52] gempain commented on #11
Yes it will :) If you don't mind, I'm working on a pull request on your repo, adding a compiled version and some integration / unit tests with karma. Should be done by the end of the week :)

[2017-06-14 07:02] gempain commented on #6
In typescript there is currently no way to determine reliably the name of a class. The only unreliable way I know is to use `obj.constructor.name`.

I think we should keep `@JsonProperty` and pass the converter as second argument. To differentiate types from converters, we could introduce a new annotation `@Converter`.
[code]
With that annotation, you can easily check if the second argument is a c

[2017-06-14 13:51] Orhleil opened #14 "Use instance instead of JsonConvert class"
Hello,

I just found this package and I'd like to thank and congratulate you for your work.
However I've got a few concerns before it actually matches all my needs. Two of these concerns are already covered by issues #4 and #6 . My last (minor) concern is about converter configuration.

Here is what bothers me.
In my project there are two kinds of JSON that I will use. In one of them, the null val

[2017-06-15 02:22] savanvadalia commented on #11
@gempain I see you finished the pull request, you are a legend 🥇
Also I liked that you converted the `ValueCheckingMode` from a static class to enum as it was working for some versions of typescript and would error out on others.

Once the pull request is merged by @andreas-aeschlimann I will let you know if it solves my problem for the ionic project.

[2017-06-15 07:15] gempain commented on #11
@savanvadalia You are very welcome :) This is my first pull request, I hope it gets through !

Yes, with Typescript 2.3.4, you cannot use inner classes as it was originally done here. I wanted to change the code as few as possible while focusing on the directory structure and flows.

Please let me know if this fixes your issues. Also, while waiting for the pull request, you can already test to see

[2017-06-15 08:43] savanvadalia commented on #11
Thanks @gempain I will need some more help from you despite your clear instructions.

This is a bit embarrassing for me as I wasn't able to finish those steps, I have just started using git recently and coming from TFS(source control system like git) environment doesn't help me.

I tried the first step in a directory and it gives below error
 * git pull https://github.com/gempain/json2typescript/

[2017-06-15 09:52] gempain commented on #11
@savanvadalia My mistake, it's `git clone` ! Now I'm the one embarrassed :(

[2017-06-15 11:17] savanvadalia commented on #11
Thanks @gempain

After changing `pull` to `clone` I was able to generate a json2typescript-0.9.6.tgz successfully.

But doing an npm install under my ionic from the generated .tgz file is now not recognized as a npm module. Just to highlight here previously I was able to access as a npm module.

Also I don't see any `dist`  and typescript definitions files .d.ts folder in the node_modules director

[2017-06-15 14:06] gempain commented on #11
Well, it seems I forgot to tell you to build everything :)

Run `npm run build`, then repackage as I explained above. I apologize for not giving you enough information above, I forgot that you had to build before packaging. I will add an npm script in the package.json to create the .tgz package so that this does not happen again.

[2017-06-15 14:53] andreas-aeschlimann commented on #11
I have to admit I don't like that ValueCheckingType is an exported type, but if this is really the only way we can make this work, ok then.

I will work through the pull request soon and will merge it with what I have planned for the serialization and custom converter feature.

[2017-06-15 15:00] gempain commented on #11
Don't worry, the ValueCheckingMode enum is not exported ! It's only visible within the file it is declared in :)

[2017-06-15 15:16] andreas-aeschlimann commented on #11
True, but it needs to be explicitly imported when it is used, right?

[2017-06-15 16:05] gempain commented on #11
You are right :/ May be we should place the JsonConvert inside a Json2TypeScript module ? This way to use that value you could import `Json2Typescript.ValueCheckingMode`, but you'd also have `Json2Typescript.JsonConvert` and so forth for other functions. I think the easiest (and most likely best way) to do it is to export the enum.

[2017-06-16 03:23] savanvadalia commented on #11
@gempain
`npm run build` 'did the trick. FYI, I also had to do `npm install` before I did `npm run build`.
And after that guess what I was able to use it in my ionic project Woo Hoo!! 👍

Thanks Geoffrey I learned a lot along the way through this small but effective exercise for me.

@andreas-aeschlimann
Exporting the enum may not be too bad.  Yes I understand it will cause a breaking change for pe

[2017-06-16 04:52] savanvadalia commented on #13
Was playing around a bit with lib functions I found in the `deserializeObject` method you use Object.Keys which returns only initialized properties.

[code]

But mapping array  in the `deserializeObject_loopProperty` method returns all properties which has decorator @JsonProperty
[code]

Would it be possible to filter out properties which are not initialized as `undefined` by finding the differenc

[2017-06-16 06:53] gempain commented on #11
@savanvadalia yup :) Always `npm install` when working with a `package.json`. I guess I should've also mentioned it ;) Glad your issue is fixed !

[2017-06-20 15:36] crownofapollo commented on #4
Adding my request for this feature as well. Coming from the C# world, this was my expected behavior.

[2017-06-30 09:43] bmercier-manakin commented on #4
+1

[2017-06-30 14:21] DRepinSLB opened #16 "NPM package for json2typescript v.0.9.5 is defective:"
I am new to the web development, so, I might be mistaken. Having said that, it looks that the NPM package for json2typescript v.0.9.5 is defective: it contains only Typescript code and no JavaScript.
![image](https://user-images.githubusercontent.com/25776179/27739621-ddb52d7a-5d74-11e7-9cba-6ee5d2bd3f71.png)
I believe this is because the tsconfig.json contains an invalid specification for json-co

[2017-06-30 14:26] DRepinSLB opened #17 "json2typescript v.0.9.5 produces compile errors when "strict": true compiler option is used"
When a consuming project uses the tsc compiler option "strict": true, one observes a number of compiler errors originating in json2typescript:
![image](https://user-images.githubusercontent.com/25776179/27740009-2b42d23a-5d76-11e7-858f-80c3bd2aa817.png)

[2017-06-30 14:47] DRepinSLB opened #18 "Feature request: add support for type resolvers"
When a class has a property of a type that is a base class in a class hierarchy (e.g., a Manager has a report that is either another Manager or a Person), json2typescript will have a problem de-serializing it.

     @JsonObject
     export class Manager extends Person {
         @JsonProperty("report", Person)
         reports: Person | undefined = undefined;
     }

Similar problem is observed in

[2017-07-04 13:27] savanvadalia commented on #11
@andreas-aeschlimann  Any updates on when @gempain 's pull request be merged?

[2017-07-04 13:34] andreas-aeschlimann commented on #11
Sorry for being so inactive, I have been very busy and am on a 2-week holiday trip now. I will make further development right after I am back (in 1 week) because I will need the updates as well!

Thanks also for @gempain to help and all your interest.

[2017-07-04 17:56] gempain commented on #11
You are very welcome :) Have fun on your vacation !

[2017-07-08 10:42] TheMagnificent11 opened #19 "Date doesn't appear to a supported type"
I have the following class and get an error when trying to deserialize a JSON string that represents it (it works if date property has `String` for the `JsonProperty` type).

Is Date supported?  If so, what am I doing wrong?  If not, will it be supported in the future?

[code]

[code]

[2017-07-13 01:16] raviada commented on #4
+1
@Messier82, how did you solve this in the meanwhile? I have a fairly large and nested JSON which works great for deserializing into TypeScript objects. But my problem is now I have to save it to saver, and the APIs expect the json keys to have underscores instead of camecase.

please let me know if you used any alternatives to solve it temporarily until this feature is available. This is almost

[2017-07-14 23:49] andreas-aeschlimann commented on #19
Date should be supported. Can you provide more details about the error? Are you sure that your JSON contains a property `.expires` (with a dot)?

[2017-07-16 23:00] andreas-aeschlimann commented on #4
I'll close this as this is implemented now. Will publish the NPM package when the other features are included as well.

[2017-07-16 23:00] #4 closed

[2017-07-16 23:01] andreas-aeschlimann commented on #14
I'll close this as this is implemented now. Will publish the NPM package when the other features are included as well.

[2017-07-16 23:01] #14 closed

[2017-07-18 16:25] andreas-aeschlimann commented on #6
I liked your idea, but it causes issues when you forget the `@Converter` decorator. One could say, it's the developer's problem. On the other hand, I would like to give good debugging information which is not possible like that.

If you forget the decorator instead of the class `MyConverter`, the code has to assume it is a type you want to map. This will lead to failure of the whole serialization/

[2017-07-18 23:02] andreas-aeschlimann commented on #6
I went with the converter decorator and the `@JsonProperty` decorator.

The confusion may still happen, but I added some smart error message when the case I described would appear.

[2017-07-19 01:21] andreas-aeschlimann commented on #13
Indeed it would be possible to define all properties just in the mapping variable. I will think about it when looking at the project tomorrow.

[2017-07-19 01:22] andreas-aeschlimann commented on #19
I think your problem lies in the definition of the JSON. There is no "date" object in JSON, just representations of that. You need to set up your AuthToken class according to your JSON or use the new feature (coming soon) for custom converters.

[2017-07-19 01:23] #19 closed

[2017-07-19 01:25] andreas-aeschlimann commented on #18
Thank you for this report, I will look into this if possible.

[2017-07-19 01:27] andreas-aeschlimann commented on #16
It's not "defective", but there are indeed no JavaScript files. Depending on your configuration, your project might not compile the TypeScript files and leave you with errors.

I think in the new version this should be fixed (coming soon).

[2017-07-19 01:27] #16 closed

[2017-07-19 01:29] andreas-aeschlimann commented on #11
I'm going to close this issue, as it should be fixed in the new version. Would appreciate if you tried the current GitHub commit @gempain  @savanvadalia.

[2017-07-19 01:29] #11 closed

[2017-07-19 01:29] #6 closed

[2017-07-19 01:30] andreas-aeschlimann commented on #10
Fixed in the new version with enums.

[2017-07-19 01:30] #10 closed

[2017-07-19 01:33] andreas-aeschlimann commented on #17
The current version runs well with strict mode, so I'm wondering whether this is due to your setup or due to the old commit. Do you have a minimal example to reproduce this?

[2017-07-19 14:15] gempain commented on #6
Thanks for the feature ! I will have a look at it when I have some time, and give you some feedback :)

[2017-07-19 14:18] andreas-aeschlimann commented on #6
Sure thing. I'm currently updating the README because there are quite some changes.

I'm not a fan of breaking changes, but I couldn't bypass them with the change to `JsonConvert` instances.

[2017-07-19 14:22] gempain commented on #6
Agree, but sometimes you have to come out with a major release and I feel like this one is :)

[2017-07-19 14:26] andreas-aeschlimann commented on #6
Hopefully. I'm looking forward to your feedback.

I have checked out the GitHub code and used `npm link` to reference it. It worked quite well, but I dunno about the guys with the enum/JS problems (from ionic I think).

[2017-07-19 20:50] amarnathm opened #20 "feature request: support for optional parameters"
Hi. I've a recursive tree object, where  children are of the same type as the current object. At some point, there is a leaf node that has no children. Is there a  way to handle this in your current version? If not, would you please consider adding it?

Thanks!

[2017-07-19 21:35] andreas-aeschlimann commented on #13
I looked into it but I cannot seem to find a good solution.

1) When the decorator of a property is run, the value of the property is always undefined, even if you give it a value in your class. It looks like the value is assigned after the decorator is called.

So after my investigation it's pretty obvious that the automatic "reminder" to assign a property is not possible.

2) We cannot use  clas

[2017-07-19 22:25] andreas-aeschlimann commented on #18
The new version will have custom mappers, so I think this issue is resolved by this. Please report back if you think otherwise.

[2017-07-19 22:25] #18 closed

[2017-07-19 22:26] andreas-aeschlimann commented on #20
Can you show what you have tried so far? Did it fail at some point?

[2017-07-20 23:54] Orhleil commented on #14
Thanks a lot. Congratulations for your 1.0.0 release !

[2017-07-20 23:55] andreas-aeschlimann commented on #14
Thanks, but no release done yet. We are still testing some things ;-)

Have a look at it, if you like to.

[2017-07-21 00:22] Orhleil commented on #14
Haha, I hadn't noticed it wasn't really released yet. It's a major step in the right direction anyway. I just wanted to congratulate you :)
I probably will be using json2typescript at work in a very near future. I'll let you know if there are any issues, and I'll let my colleagues know I found a great JSON parsing library for Typescript ;)
I wish you the best for the future !

[2017-07-21 00:23] andreas-aeschlimann commented on #14
Yes we'll hopefully be able to release it soon.

Cheers

[2017-07-30 19:51] meronbrouwer opened #21 "npm lists 0.9.5 as the latest, where 1.0.0 seems available"
README.md lists version 1.0.0, but on npm 0.9.5 is the latest available version. I would like to start using 1.0.0. When will this be available through npm?

[2017-07-30 21:47] andreas-aeschlimann commented on #21
I'll release it tonight, I wanted to give people a chance to try it out. As I haven't got any (bad) feedback, I assume it's okay.

[2017-07-30 21:47] #21 closed

[2017-07-30 22:38] andreas-aeschlimann commented on #11
Current version works for me in Ionic and Angular projects.

[2017-07-30 22:45] andreas-aeschlimann commented on #21
Published 1.0.2 to NPM

[2017-07-31 05:45] meronbrouwer commented on #21
Thanks.

[2017-07-31 07:20] gempain commented on #11
Same here :) Sorry for the delay !

[2017-07-31 12:37] andreas-aeschlimann opened #22 "Properties in different classes inheriting same base classes"
I should look into the following issue:

If two classes inherit from the same base class and use different mappings for the same property name, there will be a conflict in json2typescript.

[2017-08-01 09:16] xblox opened #23 "compiling app with noImplicitAny"
Hey,
your lib causes implicit any errors in my app. Any chance to get rid of that ? Would you accept a PR to fix those errors ?

thanks

[2017-08-01 14:25] andreas-aeschlimann commented on #23
Can you show a screenshot about the error and/or specify what it concerns exactly?

Does the update prevent you from compiling or is it just a warning?

[2017-08-02 07:47] xblox commented on #23
Hi,
thanks for the heads up !

here my app tsconfig.json :

[code]

here the output of tsc:
[code]

I installed the lib as usual : yarn add json2typescript, then do the import :

```import { JsonConvert, OperationMode, ValueCheckingMode } from "json2typescript";```

TS version 2.4.1

thanks,g

[2017-08-02 16:32] andreas-aeschlimann commented on #23
So it can be fixed by simply add the any-type at the initialisation of these variables?

[2017-08-02 23:29] Orhleil commented on #23
Surely this should be fixed in json2typescript, as it's a better practice to always define the type of the variables in Typescript.

In the meantime, if this issue is really bothering you @xblox , you can add `"skipLibCheck": true` in your tsconfig.json file, and you shouldn't get any errors anymore. (that is, if you're using json2typescript as a dependency of course, if you're actually trying to

[2017-08-03 10:21] xblox commented on #23
@Orhleil : thanks a lot ! FYI, skipLibCheck didn't change anything; I consider now to make a PR; let me try :-)

[2017-08-09 08:19] aleksey-v-kutergin opened #24 "Unable to set name in annotation other then field name for objects in array during serialization"
Hi, nice lib. I am trying to use it in my frontend project to map rest backend response with ulgly names of fields. But i'v faced with strange bug. I am plaing with simple exaple

List item class:
 ``
import {JsonObject, JsonProperty} from "json2typescript";

@JsonObject
export class City {

  @JsonProperty("name")
  name: string = undefined;

}
``

List class:
``
import {JsonObject, JsonProperty}

[2017-08-09 09:22] andreas-aeschlimann commented on #24
To make further investigation, please add a complete code example that works and fails.

In your example above, several things do not work out. For example, @jsonproperty is not the correct decorator (it is @JsonProperty), and I can nowhere see a property defined as "chfdhf".

I think when you provide a good failing example, we will be able to resolve your issues.

[2017-08-09 09:23] andreas-aeschlimann commented on #24
* @JsonProperty

[2017-08-09 09:24] andreas-aeschlimann commented on #24
(Sorry, cannot seem to type camel case in mobile 😂)

[2017-08-11 15:09] kirakishin commented on #22
Hello,
i use abstract base class : child class A extends B. its seems it doesn't work with this use case.
could check that please ?

regards

[2017-08-11 15:48] andreas-aeschlimann commented on #22
Can you please provide a minimal example (just the classes you would like to use) so that it fails?

[2017-08-11 21:51] andreas-aeschlimann commented on #22
Glad you fixed it. Yes, it's annoying to initialize all properties, but it's necessary.

[2017-08-11 23:07] kirakishin opened #25 "using json2typescript in an Angular library (yeoman-generator) causes compilation failed"
Hello,
iam facing to a problem using your package in an Angular library npm package generated by :
https://github.com/jvandemo/generator-angular2-library

adding the dependency is ok, but when i start to compile with `npm run build` after created a decorated class, i got the error (rootDir error) :
[code]
my class is in `generic.model.ts`:
[code]

You can reproduce it by cloning :
https://github.c

[2017-08-12 11:42] kirakishin commented on #25
Ok, i found that if i rename all *.ts file from your library, into *.d.ts, it works !
As many libs like Angular ones, has only *.d.ts , i think , change the build process for that may the solution :)

[2017-08-14 08:03] xblox commented on #25
same here

[2017-08-16 15:00] kirakishin commented on #25
may i will fork this. anyone else has the same ?

[2017-08-22 13:15] andreas-aeschlimann commented on #24
Closing for inactivity.

[2017-08-22 13:15] #24 closed

[2017-08-22 13:15] andreas-aeschlimann commented on #25
I don't really know about this, so I am not of much help. Can you make a pull request with the minimal changes that fixes it for you?

[2017-08-25 09:00] ZsZs opened #27 "Argument of type 'typeof Document' is not assignable to parameter of type 'new () => any'"
Hi,

I'm getting the comiler error when calling jsonConverter.deserialize(). Here is my test:

[code]
I'm using     "@angular/common": "^4.3.6",

I think it would be great to be able to use generics to specify the type of the deserialized object. Anyway a quick solution is welcomed too.

Thanks,
Zsolt

[2017-08-25 14:33] ZsZs commented on #27
I checked your tests and used the

`(<any>jsonConvert).deserializeObject( jsonObject, Document )`

form, which solved the compile problem. I close the issue, though I think generics would be still usefull.

Thank you very much for your work!

[2017-08-25 14:33] #27 closed

[2017-08-25 14:37] andreas-aeschlimann commented on #27
I think generics are not possible the way this library works, we discussed this in #8 as well.

I'm glad you could sort out the issue, indeed the (<any>jsonConvert) is needed.

[2017-08-27 07:33] savanvadalia commented on #11
@andreas-aeschlimann  Sorry for the extended delay, great work on the new updates. Yes, I can confirm the newer version of json2typescript works fine with ionic. However, now I am  running into a strange issue where the code using json2typescript breaks when running in --prod mode. Dev mode works completely fine.

This could be most likely an issue with ionic build process. Although I just printin

[2017-08-27 07:41] savanvadalia commented on #13
@andreas-aeschlimann, Thanks for looking into this.
 I do use class inheritance within my typescript-json objects.

If there is no proper solution I am happy to be the current way as it is more of a nice to have feature.

Again thanks for trying and keep up the great work with this awesome lib 👍

[2017-08-27 13:41] andreas-aeschlimann commented on #20
Closed due to inactivity

[2017-08-27 13:41] #20 closed

[2017-08-27 13:46] andreas-aeschlimann commented on #11
I don't know, maybe you can investigate what the `--prod` flag is doing.

For sure I will look into it as well in the next weeks, because I am also working on an Ionic app now. So far I haven't used the `--prod` flag yet in combination with `json2typescript`.

[2017-08-27 13:55] andreas-aeschlimann commented on #11
Here you get your exception from:

[code]
The weird thing is, the expected type should be array. But `instanceof Array`seems to be false for both `expectedJsonType` and `value`, otherwise this error could not be thrown. I have no idea why this would happen, but some debugging there might help.

[2017-08-28 00:46] savanvadalia commented on #11
`--prod` mode in ionic does the Ahead-Of-Time compiling for angular, optimisation of JS and CSS file, tree-shaking etc...

I am not sure whether I can debug the code in `--prod` mode after all the optimisation process the original code is unrecognisable and don't think ionic supports source-maps for `--prod` mode.

After playing a bit with ionic build process, I was able to find that the issue is

[2017-08-30 19:03] theBull opened #28 "Why construct a new JsonConvert, why not make deserialize / serialize static methods?"
Is there a reason behind this? Perhaps it's not an issue so much as wanting to understand if there's a more efficient way to use the library, is the following not possible for a reason precluded by implementation detail?

[code]

Great job on the tool, I hope my question doesn't come across as ignorant :).

[2017-08-30 21:50] andreas-aeschlimann commented on #28
Your question is indeed good and the answer is partially in the thread #14.

There are people that want to use different settings in for the JsonConverter in the same application. Before the current update, all properties and methods were static. Then these people were forced to set the properties after every call, which is not very clean.

Other libraries like JsonConvert in .NET do it statically

[2017-08-31 20:45] theBull commented on #28
Excellent, makes perfect sense. After using your library to do some deserialization, I ran into the case you're talking about where I wanted to set the `ALLOW_NULL` flag on the instance and decided it would be useful to create a static reference to `JsonConvert` in a wrapper class, as you did for your api.service.ts. So I actually do like the ability to have either an instance of JsonConvert or th

[2017-09-01 06:41] lookfirst commented on #23
![image](https://user-images.githubusercontent.com/85355/29958104-37bf4cf6-8f1b-11e7-8a97-1d691b8406d4.png)

[2017-09-01 13:17] andreas-aeschlimann commented on #28
No worries.

If you have further input, let me know.

[2017-09-01 13:17] #28 closed

[2017-09-01 13:18] andreas-aeschlimann commented on #23
I guess we just have to set `let array:any = []`. I actually don't know why I didn't do that in the first place. We will sure add this in the next version.

[2017-09-04 10:24] Sooulm8 commented on #22
Hi,

I have the same problem even with properties initialized.
Can you give me some help ?

My classes
[code]
My test exemple

[code]

The error I get

[code]

You can see I have 2 children with attribute _value.
In TestNumber is typed as Number
In TestString is typed as String

But when I try to deserialize, json2typeScript try to convert my string in number for TestString.

Thank you in advance

[2017-09-04 20:55] andreas-aeschlimann commented on #22
As mentioned in the first post, this issue is to be expected. Right now, it is not possible to use the same property name with class inheritance.

There is an easy workaround though:

No one (except you) will care about the name of the private property. You will be exposing only the public getter/setter. Just name the `_value` of the second class to `_value2` or whatever, but keep the getter/sette

[2017-09-06 03:35] lookfirst commented on #23
@andreas-aeschlimann When? It would be nice to quiet the errors in my IDE from your project.

[2017-09-09 22:48] andreas-aeschlimann commented on #23
Can you please try the current version 1.0.3 and tell me if the errors have vanished, @xblox @lookfirst? I will close this issue as I suppose it is fixed.

[2017-09-09 22:48] #23 closed

[2017-09-09 22:51] andreas-aeschlimann commented on #22
@Sooulm8 the current version (1.0.3) fixes this problem.

There is only one case I couldn't properly "cover". If you consider your example, it is important that if you write the decorator `JsonProperty` at `_value` in `TestString`, you must also write it in `TestNumber`. Otherwise it will make a "fallback" and cause an error.

[2017-09-09 22:51] #22 closed

[2017-09-10 05:41] lookfirst commented on #23
@andreas-aeschlimann Fixed. Thanks!

[2017-09-10 12:12] andreas-aeschlimann commented on #23
Do you know if #17 is the same thing as this issue?

[2017-09-10 12:13] andreas-aeschlimann commented on #23
@lookfirst, do you know if #17 is the same thing as this issue?

[2017-09-10 12:18] andreas-aeschlimann commented on #8
I am going to close this issue, because I am pretty sure it will not be possible to use generics. The main problem is that on JavaScript runtime, generics do not exist. In fact, it is just type hinting before compile time for the developer.

Also, the way how json2typescript is implemented, it cannot support generics.

[2017-09-10 12:18] #8 closed

[2017-09-10 12:20] andreas-aeschlimann commented on #17
As mentioned in #23 I think it is fixed with the current version (1.0.3). Please let me know if this is not the case.

[2017-09-10 12:20] #17 closed

[2017-09-10 12:21] andreas-aeschlimann commented on #25
@kirakishin do you know how we can fix this issue?

[2017-09-11 04:47] lookfirst commented on #17
@andreas-aeschlimann Same as #23. Has nothing to do with strict mode... TypeScript always produces good JS. This is a compiler issue.

[2017-09-11 11:07] thechrisde opened #30 "Different class property names then json property names"
Hello,

I'm trying to use json2typescript for an application.
The use case is as follows:

We have an JSON-Object with propertynames like '@Code' and I want to map these properties to TypeScript Class property with better names, like 'Code'.
But when I'm trying to map these properties the names stay the same as in the JSON and the "real" properties are always undefined.

[code]

Thank you!

[2017-09-11 21:21] andreas-aeschlimann commented on #30
I don't see any reason why it would not work. Can you show console.log of your class instance and json?

[2017-09-12 12:40] ChristianPuckSolutions opened #31 "Feature request: Exclude"
Hello,
As other people have commented: Great job! json2typescript is a really useful tool.

I only miss (maybe there is a way but I didn't found any) a way to exclude one property when deserializing:
[code]
If you serialize without type no issue, but if you deserialize an Instance with type then you get it on the output.

What about:
[code]

There is any other way to do that?

[2017-09-12 15:25] andreas-aeschlimann commented on #31
If you don't want to use a property, you can simply drop the `@JsonProperty`decorator.

[2017-09-13 09:00] ChristianPuckSolutions commented on #31
Hey @andreas-aeschlimann,

Thanks for your answer. But maybe I didn't explain myself clear enough:

[code]
Result:
[code]
I am looking for a way to avoid **type: "someType"** appearing from the Deserialization.

Thank you!

[2017-09-13 12:04] VishalkumarM opened #32 "Issue with serialize"
I'm facing issue while serializing class instance please help

[code]

----Error Text
Error: Fatal error in JsonConvert. Failed to map the JavaScript instance of class "OrderItemBean" to JSON because of a type error.

	Class property:
		customisationList

	Class property value:
		[object Object],[object Object]

	Expected type:
		[MenuItemCustomisationBean,MenuItemCustomisationBean]

	Runtime type

[2017-09-13 12:21] andreas-aeschlimann commented on #32
I noticed an error with serialize a few days ago. Can you verify if 1.0.4 fixes your issue?

[2017-09-13 12:44] VishalkumarM commented on #32
Issue is fixed, thank you very much for timely response.

[2017-09-13 12:56] andreas-aeschlimann commented on #32
No problem!

[2017-09-13 12:56] #32 closed

[2017-09-13 13:01] andreas-aeschlimann commented on #31
Isn't your constructor interfering with json2typescript here? Otherwise it wouldn't be possible that otherField would be undefined instead of 2.

json2typescript calls constructor() when it creates an instance of your class. You have to catch this case in your constructor somehow, for example:

[code]

[2017-09-14 09:39] ChristianPuckSolutions commented on #31
Hello @andreas-aeschlimann,

With your suggestion, I could achieve what I was looking for. Actually, I did a combination of initializing the fields to undefined or not (depending if you want it on the deserialization or not) and stopping the default constructor that uses json2typescript (all the parameters undefined) before it riches default assignation values. Doing that I am getting the expected

[2017-09-14 09:39] #31 closed

[2017-09-17 14:58] TheMagnificent11 commented on #19
Sorry for the late reply.

Here's an example of my JSON.

[code]

[2017-09-17 15:15] andreas-aeschlimann opened #33 "Answer to deserialize(null) is not as expected"
Note to myself: Look into the response of (de)serializing undefined or null

[2017-09-17 15:27] andreas-aeschlimann commented on #19
You need to use a custom converter to use it the way you want to. In the ReadMe, there is an example with exactly that.

[2017-09-19 19:46] jndonald3 opened #34 "Compatibility with strictNullChecks"
Getting the following errors when compiling under `strictNullChecks`.

[code]

Playing around with it, I was able to see that all of the errors are resolved by being more specific with the types. I will submit a PR with the small changes to make it compatible for `strictNullChecks: true`

[2017-10-05 15:34] adrian23 opened #38 "Inheritance"
Hi,
I have three classes

[code]
and json

[code]

is it possible using some kind of decorators to get List of devices with correct object types.

I was searching for any solution without success.

[2017-10-05 15:46] andreas-aeschlimann commented on #38
It's not directly possible, but there are multiple simple workarounds.

First, you have to add the `@JsonProperty` decorator for all your properties.

Then you can write your own parser like this. I assumed your second class is called `Computer`.

[code]

In case your json array is assigned to a property nested in other classes, you can actually use the nice `CustomConverter`option, so this "ugly"

[2017-10-05 15:53] andreas-aeschlimann commented on #38
Would you mind asking this question in StackOverflow? It would allow us to solve this issue in a better way, also it is not an issue of json2typescript itself.

If you post it there, you may leave the link here of course.

[2017-10-05 15:53] #38 closed

[2017-10-06 08:10] adrian23 commented on #38
Thank you. jest i will ask this question on stack overflow.

[2017-10-06 20:22] andreas-aeschlimann commented on #38
Feel free to drop the link so we can help you with the answer!

[2017-10-09 09:43] adrian23 commented on #38
sure https://stackoverflow.com/questions/46601348/json-to-typescript-object-inheritance thanks

[2017-10-09 12:11] andreas-aeschlimann commented on #34
Should be resolved with 1.0.5.

[2017-10-09 12:11] #34 closed

[2017-10-09 12:12] andreas-aeschlimann commented on #30
Closing due to inactivity.

[2017-10-09 12:12] #30 closed

[2017-10-09 12:12] andreas-aeschlimann commented on #25
Does it work with 1.0.5? I go ahead and close this issue, please let me know if it's okay for you now.

[2017-10-09 12:12] #25 closed

[2017-10-10 07:05] janckerchen opened #39 "There is no error thrown when json missing the field decorated by @jsonproperty"
I try many json with different format, there are no errors thrown at all.

[2017-10-10 07:07] janckerchen opened #40 "comments in Readme is not true"
comments in Readme

[code]

it's not true,   no @JsonProperty and no map

[2017-10-10 13:17] andreas-aeschlimann commented on #39
Please give a code example. I don't think this is unexpected behaviour.

[2017-10-10 13:18] andreas-aeschlimann commented on #40
It is possible that this has changed in the last bigger version (1.0). I will look into this.

[2017-10-10 15:20] nbindel opened #41 "Software license"
What software license is this being released under?  I'm not seeing any mention of it in the code base or in the traditional spot provided by github next to "contributors".

[2017-10-10 16:11] andreas-aeschlimann commented on #41
MIT.

You may use it commercially, if that is your issue.

[2017-10-10 16:59] nbindel commented on #41
Great, thank you for your prompt response.

[2017-10-10 17:21] #41 closed

[2017-10-13 02:20] janckerchen commented on #39
I cant reproduce it, maybe my mistake, close the issue

[2017-10-13 02:20] #39 closed

[2017-10-30 14:45] jifwin opened #42 "Support for typescript Map"
Do you plan to support typescript's Map<?,?> as expected type? Currently I have to use "Any", otherwise deserialization fails on unknown type. By the way, very cool lib :).

[2017-10-30 14:52] andreas-aeschlimann commented on #42
What do you need that for? Do you want to map a json object with unknown parameters to a TypeScript map?

In case that's what you want, you can use a little trick. `json2typescript` supports mapping objects to arrays out of the box. This means, you can use `[string]` as expected type, and the result will be an associative array, accessible with `array[key]`.

[2017-10-31 08:38] jifwin commented on #42
I prepared an example:
[code]

That trick is not enough for me, it won't validate maps values types, right?

[2017-10-31 08:51] jifwin opened #43 "Custom converter for array of objects"
Can I use custom converter to map beans in an array?

[code]

In this example the whole array is passed to converter. If I use
[code]
then it results in type error.

[2017-10-31 13:06] andreas-aeschlimann commented on #42
Try something like this:

[code]

I'm not totally sure about the key-value notation `[string: number[]]` though, but something like that exists in TypeScript.

[2017-10-31 13:37] jifwin commented on #42
Cool! The first approach works for me. Thanks.

[2017-10-31 13:37] #42 closed

[2017-10-31 14:51] andreas-aeschlimann commented on #42
That is good news.

IMPORTANT: You need to use capital case `Number` in the `@JsonProperty` decorator, I made a mistake there.

The reason why Map/Set are difficult to use with `json2typescript` is because on runtime, generics are removed. But `json2typescript` has to check the types on runtime, not compile time, so it is not possible to use the generics.

I recommend to use it the way that is imp

[2017-11-05 12:06] houssemFat opened #44 "Fatal error in JsonConvert in angular production mode"
I'm using json2typescript to convert my json web service responses into objects with an angular 4 project. In dev mode, it works fine. But when i switch to production mode (--prod), it bugs and it try to convert another class. I'm not sure really if this is related to angular 4 compilation issue or to json2typescript.
I expect to convert a json response of class A from webservice response. In prod

[2017-11-05 21:59] andreas-aeschlimann commented on #44
Hello, please provide some detailed code example so we can see the problem.

Are you sure that you don't have any circular dependencies? I usually had issues like that when circular dependencies appeared.

[2017-11-06 09:50] houssemFat commented on #44
Thank you @andreas-aeschlimann
Here's the full scenrio :
I have a class `CurrenciesWSResponse` for getting all curencies items
[code]

and a class called ``

[code]

The base class is `BaseResponse`

[code]

I'm using json2typescript to get the list of all currencies and beneficiaries by calling two http get requests

[code]
and

[code]
I call service.fetchBeneficiariesList() and service.getAvaila

[2017-11-09 17:58] mikehamil10 commented on #44
Came here to say I'm having a similar issue -- I've added json2typescript to my project (a mobile app built on Angular 4/Ionic/Cordova), when testing the app in dev mode its works flawlessly but when building with the AOT compiler, it just doesn't work :(

I could post my model classes but I'm using this library in a COMPLETELY standard way so I'm not sure if it would even help.

[2017-11-09 22:27] andreas-aeschlimann commented on #44
It would probably benefit the cause if you posted a minimal example to a new Github repository. We cannot reproduce the error, neither in Angular 2/4 nor in Ionic 2/3 applications.

If you have error messages, please post them here so we can also try to understand them.

What I can say is, in Angular 4 you get warnings for circular dependencies. I am not sure if Ionic warns you about them. Having

[2017-11-10 16:41] mikehamil10 commented on #44
OK I've created a minimal Ionic app that actually uses the models and modified Angular services that our production app uses (modified to return static data instead of connecting to our secure back-end):

https://github.com/mikehamil10/json2typescript-test

Here's the thing though: **_This app works in debug AND prod modes!_**

So I'm confident that the issue is somewhere in my app and not with js

[2017-11-10 17:24] mikehamil10 commented on #44
_(update to my previous comment)_

Great news, I fixed my problem! I think this had something specific to do with the version of Ionic + Angular my app was using.

After creating the demo app above, I compared my package.json and realized that my Ionic version was at 3.6x and my Angular version was at 4.1x. I updated everything to match the version numbers in the demo app I created (Ionic 3.9x and

[2017-11-10 20:20] andreas-aeschlimann commented on #44
I don't understand why the version of Ionic or Angular would influence the behavior of `json2typescript`, because the current version comes with pre-compiled JavaScript already... But I am glad you could sort it out anyway. Let's hope @houssemFat can fix it as well.

[2017-11-17 20:14] thomas311 opened #45 "Deserialization fails at the third time"
Hi there and first of all thank you for the great work on json2typescript.
I ran into one issue which I try to solve since quiet a while and it only happens in the context of one specific class (all other objects I serialize or deserialize do not have this issue).
When ever I request the below explained object from the server, the first 2 requests are successfully deserialized. The 3rd request alw

[2017-11-17 20:50] andreas-aeschlimann commented on #45
What happens if you just remove the two lines of the first or second property of `ItineraryCalendarItem`?

For example for the first property like this:

[code]

Does it work without any issue?

[2017-11-17 20:52] andreas-aeschlimann commented on #43
No, this is not possible with the current version. But you could rewrite your converter such that it can handle an array of TestBean when serializing and deserializing!

[2017-11-17 20:53] #44 closed

[2017-11-17 21:04] thomas311 commented on #45
If I remove the first 2 lines it still produces the same error (at the third time)
If I remove the second 2 lines it runs with no problems (tried it 10 times - no issue)
This one worked:

[code]

[2017-11-17 21:11] andreas-aeschlimann commented on #45
Are you sure it's fine to set undefined in the constructor? Just to be sure I would try to set `= undefined` immediately at property declaration.

The error does not make a lot of sense, it basically means it tries to apply a custom converter to your number, and it shouldn't do that. If the above does not work, try this for "fun":

[code]

while Any has to be imported from `json2typescript`.

[2017-11-17 21:58] thomas311 commented on #45
Thank you for working with me on that!
I set undefined on all my classes in the constructor with no issues (in terms of code-readability I might reconsider this).
But I did what you suggested and set undefined right at declaration: no success.
I tried 'Any' as you suggested: no success.
Any other ideas?

[2017-11-17 22:23] thomas311 commented on #45
the strange thing is that the except same code runs fine twice and then produces the error always exactly at the third time. I like to think if this was a general coding issue then it would break right away, but it doesn't.

[2017-11-17 22:49] andreas-aeschlimann commented on #45
Can you set up a minimal angular project and post it on a new github repository? I will have a look at it.

[2017-11-17 23:21] thomas311 commented on #45
Will try to get that done in the next few days.
Thank you!

[2017-11-19 23:05] thomas311 commented on #45
I made a simple test project today and the error does not happen (so I didn't even bother posting it).
In both projects I use the exact same packages and versions.
I simplified the original project to just take a short json string and deserialize it = >fails as usual.
In the test project the exact same lines of code (copy and past) run fine.
I'm down to this code:

[code]

So it must be some sort

[2017-11-19 23:28] andreas-aeschlimann commented on #45
`json2typescript` will fail if you have circular dependencies. Chances are high, that your large project somewhere has a circular dependency on the classes you are trying to work with.

I would try the following things:
- Have a look at the places where you include your classes.
- Rename the classes AND property names in the code that cause issues (not in the JSON obviously)

It must be possible t

[2017-11-20 13:01] thomas311 commented on #45
I think you nailed it: I copied the 2 classes in questions under a different class name and used them at only one point inside my project to deserialize the json message and it worked with no problem.
Now I just have to find out where exactly I messed up. will keep you posted. Thank you for your excellent guidance!

[2017-11-20 14:15] thomas311 commented on #45
OK, here is the reason and the solution, even though I don't completely understand it yet:
The object 'ItineraryCalendar' was bound as data source to a kendo-chart-series-item (Telerik KendoUI for Angular).

When the whole thing failed it looked like this:

`<kendo-chart-series-item type="line" *ngIf="data" [data]="data.itineraryCalendarItemArray" field="itineraryCount" categoryField="calendarDate

[2017-11-20 14:41] andreas-aeschlimann commented on #45
Good that you have found the source and a workaround.

At this moment I cannot imagine how `json2typescript` could be responsible for the issues, and your project seems to be complicated enough so it is basically impossible to understand what is going on.

I cannot really help you any further because I don't know KendoUI at all. It looks like a nice project though, could be interesting for us too.

[2017-11-20 15:03] thomas311 commented on #45
I don't think its a json2typescript issue at all. I will open a case with Telerik and see what they say. At least I have a workaround thanks to your great and fast help!
Thank you again und Gruesse in die Schweiz.

[2017-11-20 15:03] #45 closed

[2017-11-21 19:23] figuerres opened #46 "Question: json annotations"
I have to deal with some OData 4  web services that return a number of items in the form of @odata.thing

like "@odata.count" : 196

for most json i create an interface with items like
count: number;

and if the json is "count" : 196  life is good.
but the @odata.count is a problem.
can this package map them  ??

or do i need to look else where ??

I am looking for any example of someone working w

[2017-11-21 23:56] andreas-aeschlimann commented on #46
Hi, yes this will work without any problems.

There are dozens of examples in the readme. Just follow it and you will be able to make it work as you wish.

[code]

and

[code]

Good luck!

[2017-12-05 23:23] #46 closed

[2017-12-14 13:45] Sebubu commented on #43
+ 1
Would really like to see something like that

[2017-12-14 14:08] andreas-aeschlimann commented on #43
After reading it again, I think you might misunderstood how the deserialization works. It is indeed not needed to write a custom converter in the case described above:

[code]

This will deserialize your data without any problems.

As written 27 days ago: If you need a custom converter (if the mapping is not linear for example), then you cannot apply a custom converter to an array (yet). You have

[2017-12-21 10:32] magtastic opened #47 "Can't use deserializeObject if that class has a manual a constructor method implemented."
I have this class that looks something like this:
[code]

and when trying to deserialize a json object to that UserPublicProfile I get the following error:
` Argument of type 'typeof UserPublicProfile' is not assignaable to parameter of type 'new () => any'.`

I want to be able to initialize the object with parameters, and a jsonObject. Is that not possible with this package?

[2017-12-23 00:08] andreas-aeschlimann commented on #47
You are right, it does not work that way and we should note that in the ReadMe.

So the problem is the following: When deserializing JSON to the class, `json2typescript` has to create a new instance of your class. This happens dynamically, so it is logical that you cannot have a constructor like that. Or how would `json2typescript` know the values of the parameters?

I suggest the following option

[2018-01-09 15:53] #43 closed

[2018-01-19 00:08] electrotype opened #48 "Differences with the "class-transformer" library."
Hi,

(I don't know if this kind of post is allowed here. Feel free to delete it if it's not!)

I'm working on a Typescript project and I need a way to convert a Json/Plain object to a class based object.

I see there is a library called _class-transformer_ which seems to be similar to _json2typescript_. Both seem active.

Are there differences between the two or are they interchangeable options?
D

[2018-01-19 00:18] andreas-aeschlimann commented on #48
The other library uses a different approach to verify with the data. We have still open pull requests that go into a similar direction, but as of now our library does _not_ have any dependencies. I don't know about the impact of importing `reflect-metadata` - which is a nice library by the way - but you will need that for `class-transformer`.

I don't know about `class-transformer`, but `json2type

[2018-01-24 13:17] AlexanderKiriluyk opened #49 "Cannot deserialize classes with generics"
How to deserialize such a class?
`jsonConvert.deserializeObject(data, SearchPageData<ProductData>;`

[2018-01-24 20:36] andreas-aeschlimann commented on #49
Generics is an abstraction that does not exist on compile time. `json2typescript` is designed to run on compile time, so it cannot work with that.

I have not tried it yet, but there are surely ways to use it. You just have to make sure that you analyze what's happening with your classes on compile time.

[2018-01-31 11:15] veznidav opened #50 "Recursive deserializaton failed"
I have custom converter:
[code]
Imagine a situation where this converter is deserializing `DrawShape` object. The `DrawShape` object can contain property of type `DrawingInstruction` that should be deserialized also by this `InstructionConverter`

[code]
Every time this happens the deserialization failed. Is there some limitation that I can not use a custom converter recursively?

[2018-02-05 16:05] andreas-aeschlimann commented on #50
Unfortunately this is probably a use case that has not been tested enough. Could you provide a minimal HelloWorld example project where you run into the problems? You can post the project then to Github and I will be happy to work through the issues if possible.

[2018-02-08 03:28] nolazybits commented on #40
Yup I hit the same problem. If the @JsonProperty is not set it won't be mapped

[2018-02-08 14:57] andreas-aeschlimann commented on #40
It is true, just add the decorator and it will work. We disabled the automatic mapping because it caused problems for serialization (reverting the mapping to json).

[2018-02-08 20:29] jturner opened #51 "Wrong classes being used with deserializeObject when ran with ng build -prod"
We have a number of "steps" that included settings. Each step has something like

[code]

We are using jsonConvert.deserializeObject to convert json into a Step. However when building with ng build -prod every Step with a Setting seems to be using the first Setting class it finds, not the Setting actually imported in the correct Step.

We only see this behavior with -prod.

[2018-02-08 21:45] nolazybits commented on #40
All good. It's actually nicer to have to specifically tell which property we want to expose to the serializer / deserializer. So 👍 . Thanks

[2018-02-08 21:46] andreas-aeschlimann commented on #51
Chance is high that you have a circular dependency. As noted in the ReadMe, you have to make sure that no circular dependencies occur.

I had the same issue: It worked in development, but not in production.

[2018-02-08 21:47] nolazybits opened #52 "Why do we need to set undefined on the properties for the mapper to work?"
And could we have it so we don't have to do this?
That would be nice(r) 😃

[2018-02-08 21:49] andreas-aeschlimann commented on #52
You can assign any value you'd like. It can be null, the initial value or undefined.

It is only possible to drop the initial assignment if we worked with reflection methods (see pull request). We did not implement this yet; one of the reasons is that we like the fact that no dependencies are needed as of now.

[2018-02-09 22:12] nolazybits commented on #52
What pull request is it.
Not having to manually assign value to the variable for all properties of all objects against having one dependency I personally would prefer to have the dependency :)
Thanks for your answer. I hope this PR will be merge soon :+1:

[2018-02-09 22:38] andreas-aeschlimann commented on #52
I understand - it depends on your structure.

In general, I suppose typing the decorators already needs some work, so it does not hurt much more to initialize the properties.

I will look at the PR for sure, but there are other priorities at the moment unfortunately. And we don't wanna break anything for the hundreds of users our library already has!

FYI, I'll go ahead and close this issue as it

[2018-02-09 22:38] #52 closed

[2018-02-16 15:33] Cecilya commented on #33
I'm bumping this because I just spent 2 hours trying to find out why my property marked as optional was throwing an error on deserialising when it wasn't present - only to find out that it was present with a null value which is apparently different than "not present at all". The reason ("Given value is null.") doesn't explain the difference between the expected behaviour, namely all non-values (un

[2018-02-16 15:37] andreas-aeschlimann commented on #33
Interesting. But yes, null values are treated as values. Optional means, as you said, that if it is present, it has to match the given type.

It doesn't necessarily throw an exception then. It depends, whether you allow null values. If you use the mode `ValueCheckingMode.ALLOW_NULL`, json2typescript will allow what you want. But then null is always allowed for all properties.

[2018-02-16 15:53] Cecilya commented on #33
Thanks for the quick reply! I think including info on the `ValueCheckingMode` in the error message would also be helpful, but a general mention of the treatment of null values would definitely improve debuggability.

The `ValueCheckingMode` can only be set globally, correct? It might be interesting to allow or disallow null values for different objects, e.g. depending on which external API returns

[2018-02-16 15:55] andreas-aeschlimann commented on #33
Yes, I will note it down.

The checking mode is set per instance of `JsonConvert`. You can set up multiple instances for different objects, if you want to. Or you can write a wrapper that changes the checking mode before doing requests for certain objects.

[2018-02-16 15:57] Cecilya commented on #33
Oh, that sounds very useful! I'll keep it in my should I ever need it.

[2018-02-16 16:01] andreas-aeschlimann commented on #33
In general I would still recommend to use JsonConvert as a singleton, it's easier to just have one instance of it in the whole project.

There is an actual reason why we decided to treat `null` not the same as not present. `null` is often used in databases when no relation is wanted. But it still can mean that the user has selected not to have a relation, while removing the property could mean tha

[2018-02-16 19:01] kennyvivas opened #53 "Not returning correct Class names for dependant classes"
I am trying to deserialize this kind of 'criptic' json response:
[code]

I said criptic because we need to translate this variables into something more 'human'
(Example, p05 is Price whitout Taxes, or pWoTaxes for better understanding of the code
)
I am using two classes and following along the json2typescript converter example:

Parent:

[code]
And the ChildClass:

[code]
Because dl is actually a

[2018-02-16 22:58] andreas-aeschlimann commented on #53
You have a typo in your TypeScript type of lineDetail. The array has to be Bla[], not [Bla].

[2018-02-16 23:20] andreas-aeschlimann commented on #53
Can you please scroll down and check the full error? I think the error lies within the objects of TheChildClass.

[2018-02-17 23:46] andreas-aeschlimann opened #54 "Allow array of custom converters"
As of now, it is not possible to pass array of custom converters. It would be nice if that were possible.

**Example**

[code]

This does NOT work at the moment.

[2018-02-24 01:09] andreas-aeschlimann commented on #51
Due to inactivity, I'm going to close this issue.

[2018-02-24 01:09] #51 closed

[2018-02-24 01:09] andreas-aeschlimann commented on #50
Due to inactivity, I'm going to close this issue.

[2018-02-24 01:09] #50 closed

[2018-02-24 01:09] #48 closed

[2018-02-24 01:10] andreas-aeschlimann commented on #49
Due to inactivity, I'm going to close this issue.

[2018-02-24 01:10] #49 closed

[2018-02-25 11:19] MetaiR opened #55 "JsonIgnore"
hi,
I have used a similar library for java named `Jackson`.
it has a annotation called `@JsonIgnore` which can be used for a property that want to not consider from a json and also prevent to convert in a json.

what is the synonim of `JsonIgnore` in this library?

[2018-02-25 13:20] andreas-aeschlimann commented on #55
There is no need for that, because all properties not having a `@JsonProperty` will be automatically ignored.

[2018-02-25 13:20] #55 closed

[2018-02-25 14:02] MetaiR opened #56 "error on null value"
hello again,

I'm getting my json from the server via an API.
sometimes according to server database, some of json properties are null and this cause error:

like this:

	Fatal error in JsonConvert. Failed to map the JSON object to the JavaScript class "MessageModel" because of a type error.

	Class property:
		_desc

	Expected type:
		string

	JSON property:
		message_desc

	JSON type:
		null

	J

[2018-02-25 14:07] #56 closed

[2018-02-25 14:07] MetaiR commented on #56
can be fixed by:
`ValueCheckingMode.ALLOW_NULL`

[2018-02-25 14:32] andreas-aeschlimann commented on #56
Indeed:

TypeScript developers to disallow null in applications, so no property can ever be null. However, I like to have the possibility to set objects to null or even primitives to null (useful for classes coming from database tables with nullable foreign key fields). That is why there are three ways how to handle null in json2typescript.

[2018-02-27 16:18] MetaiR opened #57 "the defined JSON property does not exist"
hello,

I have an entity on my server-side named `user` which contains user info including username, email, first name, last name and etc.

a user can be a sub-user of other users.

so I have two API: one for login and other for seeing messages.

in login, I get about all of the current user information expect password and username for using in side-menu and profile section.

I created this model

[2018-02-27 16:20] andreas-aeschlimann commented on #57
Hello, please check the docs for optional params.

[2018-02-27 16:20] #57 closed

[2018-02-27 16:21] MetaiR commented on #57
I checked it before posting this issue

[2018-02-27 16:26] MetaiR commented on #57
@andreas-aeschlimann
at least mention the related section of your document

[2018-02-27 16:30] andreas-aeschlimann commented on #57
You need to pass a third parameter to the JsonConvert decorator function. With that, you can let json2typescript know what to do in case if a property is missing from your json.

Check for „isOptional“ in the docs, there it is. ;-)

[2018-02-27 16:39] MetaiR commented on #57
I'm sorry for all noob thing but I change my model to this:

[code]
and still getting the same result

[2018-02-27 16:53] MetaiR commented on #57
I change the false to true and it worked.
thanks for your helping

[2018-03-06 17:01] ahaverty commented on #42
Deserializing seems to be working with the above trick, **but doesn't seem to work for serialising:**
[code]
**With the result:**
[code]

Any ideas on how I could easily serialise map-like properties? I'd prefer not to have to build custom converters for each property as maps in my objects are a big use case (firebase database data).
_Thanks for a great repo 👏_

[2018-03-06 17:05] ahaverty commented on #42
`console.log(deserialized)` **gives the following:** _(notice the 0 length **"tags"** array instead of a map)_

![screen shot 2018-03-06 at 17 02 50](https://user-images.githubusercontent.com/2920947/37046430-4144c576-2160-11e8-8d36-06dd9d1bcc3c.png)

[2018-03-07 14:53] andreas-aeschlimann commented on #42
Indeed, json2typescript doesn't map to Map, but to Array. As it is an associative array, JavaScript will return length 0 even though there are elements in it.

What does `console.log(reserialized)` show?

[2018-03-08 06:43] dleavitt opened #58 "Nullable types on a per-property basis"
Is there a way to specify that a particular field is nullable?

It seems there's a way to allow _all_ fields to be nullable, and a way to allow individual fields to be _undefined_, but no way for individual fields to be made nullable. Would it make sense to avoid throwing errors when properties with `isOptional` receive null values? Perhaps behind a flag set at the converter level if needed?

[2018-03-09 15:28] andreas-aeschlimann commented on #58
Idea:

[code]

Then:

`deserialize({}, Message); `
would return the object Message { text: null }

`deserialize({ text: "Hello" }, Message);`
would return the object Message { text: "Hello" }

[2018-03-09 15:29] andreas-aeschlimann commented on #58
This could be this discussed, though.

[2018-03-12 09:51] ahaverty commented on #42
Thanks for the help @andreas-aeschlimann
I modified your serializer crudely in my fork, and was close to getting maps working with a mix of your initial answer and some tricks, although it failed re-serialize correctly for non-primitive map value types.
_(note: I'm actually using type: {string: ValueType} for the object, and parsing to Map<string, ValueType> in my get and set)_

I took your advice

[2018-03-14 14:11] andreas-aeschlimann commented on #42
Nice! I will definitely look into it later this year. It is clear that serializing is a bit tricky, so we have to think about that as well.

[2018-03-14 17:15] ahaverty commented on #42
I appreciate that @andreas-aeschlimann
I've since whittled it down to a nice common abstract class. Unfortunately since the deserializer can't parse generics, I still need to extend and override the deserializer for every new value type (although it's not too bad at all). Here's a full example + classes on gist:
https://gist.github.com/ahaverty/f9cc718e43ecaf2d49f57e473b92ab64

[2018-03-14 18:45] dleavitt commented on #58
Sorry, not sure I described the issue (as I see it) well. Here's what I see as the issue:

[code]
A lot of APIs return `null` for various optional fields - it would be great if these could be treated the same way that `undefined` is treated now.

Happy to take a stab at a PR if you agree!

[2018-03-14 18:48] ahaverty opened #59 "Serialize a method function or get (Dynamic serialization)"
_Probably a feature request as I can't find any examples_

Would it be possible to serialize a function or typescript get function with `@JsonProperty()`?
_Example:_
[code]

I know could keep the variable up to date as I call on model functions, but I think it would be beneficial to be able to serialize dynamically, and less remembering!
If the above is a language limitation, maybe an interface wo

[2018-03-14 22:04] andreas-aeschlimann commented on #58
It's true. Can you not manipulate the API so that it omits null? Many guides even suggest you to omit null because it is bad practice passing non-existent data.

I recognize the need of this and I will have a look at it soon. However, it is not clear whether a null value in JSON should be ignored or taken, in case if you set the flag to "optional=true" and the configuration is not set to allow nul

[2018-03-16 01:04] dleavitt commented on #58
Yeah, agree, but a lot of APIs (Twitter, Github, etc.) still use `null` pretty extensively.

Ideas on ways to implement:
1. In the places you're currently checking for `undefined`, instead check for undefined OR null.
2. Rather than allowing null values, set them to undefined (or unset the property.) This could make sense for deserialization (typescript generally likes `undefined` better than `nul

[2018-03-16 12:52] andreas-aeschlimann commented on #58
I guess the way to go is this: Make a flag `ALLOW_OPTIONAL_NULL`, then work it as follows:

Deserialize:
If a property is set to optional, the json value is null, then first try to assign the null value. If that is not allowed (`ValueCheckingMode.DISALLOW_NULL` for example), then ignore instead of throwing an exception. If it is indeed allowed for the given property, then assign null anyway.

Seri

[2018-03-19 02:51] joshpainter opened #60 ".js.map comments in js files"
These comments in the js files give me warnings when I compile. I'm using json2typescript in my React project, installed using npm. When I npm start to run the React app, I see warnings about these lines. The link below is one example but these comments exist in all the js files.

https://github.com/dhlab-basel/json2typescript/blob/97d2600677870176d03aafb2b9de2ec1d04f647b/src/json2typescript/any.j

[2018-03-19 16:30] andreas-aeschlimann commented on #60
Thanks for your report, this wasn't intended and I will try to remove them in the next release.

[2018-03-23 11:47] archfz commented on #54
Kinda ran into this problem. Yes it would be a nice feature.

[2018-03-23 13:40] andreas-aeschlimann commented on #54
You can bypass it easily for now, by writing a custom converter for an array as well.

[2018-03-27 19:39] jordanjones98 opened #61 "Digging Deeper into properties with objects as values"
Is there a way to dig down into JSON objects where the value is another object?

With the following JSON I would want to get the storeName property. I would think it would be something like this.

`@JsonProperty("store.storeName", String)
storeName: string = undefined;`

`{
  'store': {
    'storeName':'My Store',
    'storeId': 1
}`

Is it possible to do anything like this?

[2018-03-27 20:42] andreas-aeschlimann commented on #61
Of course it's possible, that's the purpose of this library.

Please see the examples in the ReadMe, it explains exactly how to nest objects (example with Country and City).

[2018-03-27 20:51] jordanjones98 commented on #61
I do not want to create a new object for this, I simply want to get the string value "My Store" and save it to a variable. I know you can do stuff like `[City]` if you send it an array of JSON.

[2018-03-27 20:53] andreas-aeschlimann commented on #61
Sure, but then you have no type checking, which is kind against the idea of this library.

But in some cases, it might be helpful to save dynamic objects in a property. Use the `Any` type derived from the json2typescript package. I think there is an example on the ReadMe as well!

[2018-03-27 20:54] jordanjones98 commented on #61
Thanks for the help.

[2018-03-27 20:56] andreas-aeschlimann commented on #61
No problem. Just to clear things up:

The notation `store.storeName` makes no sense in the JsonProperty decorator, there should be only plain properties. You can use `store` instead and then access the store name with `store.storeName` later.

[2018-04-15 05:53] harry-sm opened #62 "TypeScript: can not assign undefined to any user defined type"
Hello, I am unable to assign undefined to any user defined type unless they are nullable. This used to work in Typescript v2.7 but now in 2.8 it throws an error.
Additional info:
No changes to tslint config just the typescript version.

I don't expect you to be able to resolve this issue, just posting it here, so you can be aware. Maybe re-evaluate the strategy of assigning undefined.

![image](ht

[2018-04-15 06:48] #62 closed

[2018-04-18 14:27] sphinx117 opened #63 "warning Circular dependency detected"
In my exemple I have a model Folder and a model Customer.
A Customer has a Folder, but the Folder has a Customer too, because when I get a Folder from my API, I want to have the cuncerned Customer within.
The warning is :
Circular dependency detected:
models\folder.model.ts -> models\customer.model.ts -> models\folder.model.ts

What is the best way to solve it?

[2018-04-18 20:39] andreas-aeschlimann commented on #63
The circular dependency warning comes from Angular (CLI), not from our package.

You can solve it by adding interfaces/class inheritence, so that the circular dependency disappears. You will find a lot of help for this using Google!

[2018-04-24 12:07] marcintomiak opened #64 "Lack of license"
Hi,

I consider using this library in commercial project, but I cannot find any note about how this library is licensed.

Could you please add information about license to the project so it is clear for me if I'm safe to freely use it in my project or not?

Thanks a lot!

[2018-04-24 15:32] marcintomiak commented on #64
Thank you very much!

[2018-04-25 10:29] archfz opened #66 "Abbility to set custom IDs for classes"
The constructor.name is a dangerous thing to rely on. It can cause problems and I have even encountered them. The option to add explicit @JsonObject ID would solve this issue.
I have implemented this on the MR: https://github.com/dhlab-basel/json2typescript/pull/65

[2018-04-26 23:35] andreas-aeschlimann commented on #66
Thanks, that is true. I will put it on the to-do list and review everything when I have time.

[2018-05-23 08:56] sagarnayak opened #67 "Serialize JSON to enum."
I would like to convert a string to an enum type. lets say i have a enum.

enum Test{
YES="1",
NO="0"
}

and when i get {"value":"1"} from server i want to have YES in my typescript class not 1. is it possible?

[2018-05-24 09:57] sagarnayak commented on #67
I was also thinking of that approach. but if you have worked with java you might know that we can just add the @SerializedName attribute to the enum constants. and it will auto parse from json according to its type and value.
I was expecting something like that.
anyways thanks for the help.

[2018-05-24 21:41] andreas-aeschlimann commented on #67
json2typescript is as small as it can be. Therefore, no "magic" is happening under the hood. It could be possible that we support such a deserialization by default at some point, but for now you may easily implement it for yourself.

[2018-05-31 10:55] isaac-weisberg opened #68 "Serialize a dictionary."
I would like to serialize a dictionary of type { [id: string]: Foo }
What should I do?...

[2018-05-31 10:56] isaac-weisberg commented on #68
Actually, I will attempt to write a custom initializer

[2018-05-31 11:14] isaac-weisberg commented on #68
Alright, so I did that

[code]

But I would like to make a generic version of the `class DictionaryConverter`, but unfortunately I am not aware of any way to guarantee in a generic function that generic type parameter is a class constructor, and thus `let value: Type = convert.deserialize(data[key], Type)` where `Type` is generic type doesn't compile.

[2018-05-31 13:38] andreas-aeschlimann commented on #68
The main issue about generics is that they are removed when you compile to JavaScript. As `json2typescript` runs on runtime, there is no direct way to handle it.

I think you are on the right track. You will find a good workaround that suits you well.

By the way, `json2typescript` can already map a dictionary to an array out of the box. But if I remember right, you will lose the keys that way.

[2018-05-31 15:38] isaac-weisberg commented on #68
@andreas-aeschlimann yeah, your statement is as close as it gets, and it really looks like no generic serialization solution for simple key-typed value storage. So in the project I am dealing with, I am going to go for non generic `@JsonConverter`s for each kind of dictionary I need.

[2018-06-01 04:52] isaac-weisberg commented on #68
So I've been fiddling around...
[code]

[2018-06-01 12:02] isaac-weisberg commented on #68
https://github.com/isaac-weisberg/generic-dictionary
This is the result, my solution.

[2018-06-01 12:02] isaac-weisberg commented on #68
doesn't support number.

[2018-06-05 13:07] jmesa-sistel opened #69 "[Question] deserialize a null object should return null or error?"
Hello
This code
` new JsonConvert().deserialize(null, MyClass);`
thows an error, is this intended?

I think it should return null, but it is my opinion

[2018-06-05 13:13] andreas-aeschlimann commented on #69
It is indeed a bug, as already mentioned in #33. I will fix it this summer when updating the library.

[2018-06-12 08:20] isaac-weisberg commented on #68
A couple of weeks later, heavily digging into the semantics of the project I required the aforementioned feature for, and the domain where the project is to be applied, I am summarizing and closing this issue because of this:

TL;DR: if you are going to write some serializable data management and plan to utilize context-switched, stateful data managers, while using javascript runtime to power the

[2018-06-12 08:20] #68 closed

[2018-06-13 20:29] andreas-aeschlimann commented on #6
Hello, please provide a non-working minimal example. I often used nested objects of a level of 5 or more without any issues. There are no custom converters necessary for that in general.

[2018-06-13 21:00] MDSpandanaJMJ commented on #6
@JsonObject
export class Resource {

    @JsonProperty('@id') _id: string = undefined;
    @JsonProperty('@type') _type: string = undefined;
    @JsonProperty('id') _resourceId: string = undefined;
    @JsonProperty('description') _description: string = undefined;
    @JsonProperty({jsonKey: 'Attribute', expectedJsonType: [Attribute]}) _attribute: Attribute[] = undefined;
    @JsonProperty('connec

[2018-06-13 21:08] andreas-aeschlimann commented on #6
I don't think you can use a constructor that way because `json2typescript` calls the constructor with no arguments. It will probably set all your properties to undefined because of that.

Try your code without constructor (or comment everything out).

[2018-06-13 21:52] andreas-aeschlimann commented on #6
You probably have some other issue because this is not possible.

For example, it could be a conflict of classes. Are you sure that you import the correct class "Resource", for example?

If you can post me a small example to GitHub which I can launch with Angular CLI, I can try to help you.

[2018-06-13 22:00] MDSpandanaJMJ commented on #6
Looks like I am progressing on this. I have to verify the templates. If not I will post it on GitHub. Since I have an NDA i couldn't do it at present. I will try to modify it and post if it doesn't work. I really appreciate your help. Thank you!

[2018-06-13 22:08] MDSpandanaJMJ commented on #6
They are failing when I have an array of objects which are at nested level:
Is there any way of specifying this. Right now I am using the below way;
@JsonProperty('Attribute', [Attribute])
    _attribute: Attribute[];

And below is my error:
Error: Fatal error in JsonConvert. Failed to map the JSON object to the JavaScript class "Resource" because of a type error.

	Class property:
		_attribute

[2018-06-13 22:11] andreas-aeschlimann commented on #6
Is this all the error? Sometimes there is more above or after it.

I can't see a problem here, it should work.

[2018-06-13 22:14] MDSpandanaJMJ commented on #6
So, it says that deserialization is not happening due to type mismatch.
These are the two errors being displayed:
===================
Error: Fatal error in JsonConvert. Failed to map the JSON object to the JavaScript class "Resource" because of a type error.
=======================
core.js:1350 ERROR Error: Uncaught (in promise): TypeError: Cannot read property '_attribute' of undefined
TypeError:

[2018-06-13 22:16] andreas-aeschlimann commented on #6
You have to compare your Attribute class to your actual JSON object. There is something not matching there.

[2018-06-13 22:23] MDSpandanaJMJ commented on #6
So this is how my json looks and each Aspect itself is an array of that type. And this is how I defined my classes. Do you say that it should have keys on all internal objects?
"Attribute": [{
  "Aspect":[ ],
  "name": "...",
 "description":"..."
},
{
 "Aspect":[ ],
  "name": "...",
 "description":"..."
},
{
 "Aspect":[ ],
  "name": "...",
 "description":"..."
}
]

[2018-06-13 22:31] andreas-aeschlimann commented on #6
I can't tell from these fragments, can you provide a minimal non-working example in GitHub?

[2018-06-14 21:05] MDSpandanaJMJ commented on #6
So, this got resolved. I noticed that there are some optional types in the json and I have to declare that flag explicitly. However, while deserializing if I am getting an array of objects, I don't see a direct way of specifying the class type. For example if I get Attribute[] from the back end, and adding jsonConvert.deserialize(response[0], [Attribute]); or jsonConvert.deserialize(response[0], A

[2018-06-17 00:00] andreas-aeschlimann commented on #6
You can use jsonConvert.deserializeArray(data, Attribute) if your json matches the type of an array of Attribute. The method jsonConvert.deserialize(data, Attribute) does the same because it intelligently picks the appropriate case (flat object/array).

[2018-06-21 07:15] flexelem opened #70 "deserializeArray returns empty object"
I am trying to deserialize an array of a specific object type.

**coinmarketcaptoken-entity.ts**
[code]

**mapper-test.ts**
[code]

`ts-node mapper-test.ts` returns an output;

[code]

Is there something that I am missing?

Thanks!

[2018-06-21 08:09] flexelem commented on #70
I solved the issue by assigning default values of each field.

[2018-06-21 08:09] #70 closed

[2018-06-21 12:18] andreas-aeschlimann commented on #70
Correct. Unfortunately, the TS-JS transpiler removes properties with no initial value.

[2018-06-21 16:31] flexelem commented on #70
Hi andreas. I have another question. Do I need to annotate every field with @JsonProperty? In the documentation it says if the key names are matching then I don't need, however, if I don't annotate when key names are same then they get assigned to their default values.

[2018-07-05 06:16] massimilianokraus commented on #40
v1.0.4, still the property is not mapped without the @JsonProperty decorator but still the documentation says that it does.
So every developer that tries this library trusts the fact that the decorator is not necessary, makes an app, the app does not work, he wastes time trying to figure it out, then he comes here, reads all the issues and finally understands.
Please, update the documentation, it'

[2018-07-10 20:42] cristianmiranda commented on #58
Hi guys. Any updates on this?

[2018-07-10 22:51] andreas-aeschlimann commented on #58
I will take care of all open issues within the next few weeks. I was dealing with another project for the last few months, so it was on hold.

[2018-07-24 05:49] alanrgan opened #71 "TypeError: classReference is not a constructor"
I tried running the City / Country example from the README:

[code]

And it looks like 'Country' is not recognized as a constructor:
`TypeError: classReference is not a constructor`

What's going on here?

[2018-07-25 01:03] andreas-aeschlimann commented on #71
Make sure you properly include the City and Country object. Are you sure it's done?

[2018-08-10 20:26] andreas-aeschlimann commented on #69
As of v1.0.6, this will be changed.

If `ValueCheckingMode` is set to `DISALLOW_NULL`, then
- jsonConvert.serialize(null) throws an error
- jsonConvert.serialize(undefined) throws an error
- jsonConvert.deserialize(null, AnyClass) throws an error
- jsonConvert.deserialize(undefined, AnyClass) throws an error

If `ValueCheckingMode` is set to something else as `DISALLOW_NULL`, then
- jsonConvert.se

[2018-08-10 20:26] #69 closed

[2018-08-10 20:28] andreas-aeschlimann commented on #33
This problem should be fixed, see also #69.

[2018-08-10 20:28] #33 closed

[2018-08-10 20:29] #40 closed

[2018-08-10 20:31] andreas-aeschlimann commented on #71
Closing this due to inactivity.

[2018-08-10 20:31] #71 closed

[2018-08-10 20:32] #64 closed

[2018-08-11 22:15] #66 closed

[2018-08-11 22:26] #60 closed

[2018-08-22 03:10] g00dnatur3 opened #72 "Cannot find source file 'json-convert.ts`"
In the chrome log, i receive alot of these types of warnings

[code]

is there a way to fix this?

[2018-08-22 03:16] g00dnatur3 commented on #72
I was able to make the warnings go away by excluding the json2typescript:

[code]
is there a way to fix without excluding?

[2018-08-23 06:40] g00dnatur3 opened #73 "Why not use generics with the deserialize method definition?"
Look here:

[code]

is there any value to using this approach?

[2018-08-23 13:03] andreas-aeschlimann commented on #73
I originally wanted to use only generics instead of the class parameter. The problem is that in TypeScript you cannot write something like new T(). In other languages it is possible though.

This means the parameter with the class is necessary. Using generics is then not of any use because the data is redundant. The only benefit is probably that you may get a proper return type. Or is there someth

[2018-08-23 13:05] andreas-aeschlimann commented on #72
In what environment is this?

I had something similar to this, I managed to resolve the issue by deleting the folder node_modules/json2typescript and then reinstalling the newest version.

[2018-08-23 17:53] g00dnatur3 commented on #73
I was hopping the generics would solve the issue I am describing below

Lets say I have two classes A & B -- with no getters or setters, just public variables

(I have tried with getters/setters and it soesnt make a difference)

I would expect, with using the generics above (and thus enforcing a return type) would cause the compiler to complain about the code below:

[code]
But the compiler does n

[2018-08-23 17:56] g00dnatur3 commented on #72
the environment is a simple react application. You want me to post my webpack config?

[2018-08-23 17:57] g00dnatur3 commented on #72
i just installed the library like 3 days ago.... and i checked i do have the newest version. But i will try to delete and reinstall.

Thanks

[2018-08-23 22:25] andreas-aeschlimann commented on #73
You dont need generics to force a type. Just use <A> jsonConvert.deserialize(data, A). This tells the compiler that type A is returned.

[2018-08-29 17:14] AntonPilyak opened #74 "class from/to array mapping"
I have a JSON structure like below:
[code]

and I want it to be mapped into two classes, ClassA and ClassB with the following structure:
[code]

[code]

If this really is not implemented, I would suggest to add a possibility for mapping objects directly to JSON types (like array), without obligation to have named fields. If this is possible now, please, give me an example of how to do it.

[2018-08-30 15:57] andreas-aeschlimann commented on #74
Is there some specific reason why `fieldTwo` is not allowed to be a number array?

Anyway, there is a simple solution for your problem. Just use the custom converter as described in the ReadMe to deserialize and serialize your data as you like. If you use a custom converter, you are responsible for throwing errors, so you can handle things like: length of the fieldTwo array, types of the elements,

[2018-08-30 23:08] andreas-aeschlimann commented on #74
You can reuse the same custom converter wherever ClassB is used, so this should work without any big efforts.

[2018-08-31 16:19] AntonPilyak commented on #74
indeed, thanks a lot for your help!

[2018-08-31 16:19] #74 closed

[2018-09-02 11:02] andreas-aeschlimann commented on #74
Great! It would be nice if you could share the custom converter, so other people who learn about this package can profit from it.

[2018-09-06 20:41] m-architek commented on #73
I've wrapped JsonConvert as follows and it seems to work correctly:

[code]
It makes following code to rise an error:
[code]
I think this kind of type check in original JsonConvert would be great.

[2018-09-06 20:43] andreas-aeschlimann commented on #73
I thought about it and yes I agree it is better, I'll add it in the next version!

[2018-09-06 21:03] m-architek commented on #58
I must say the null handling here is not intuitive for me too.

E.g.
[code]
I was expected that in case of `notOptional = null` deserialization will rise an error (also when `ValueCheckingMode.ALLOW_NULL` is selected). But it won't, what is bad for strict null checking.

[2018-09-06 22:03] andreas-aeschlimann commented on #58
I don't follow. Why do you want to allow null but throw an exception if a null value appears? After all, a property (for example a foreign key) could be set to null on purpose.

[2018-09-07 08:00] m-architek commented on #58
Because optional means for me null or undefined. So I want to allow null, but only on optional fields.
But I understand your point, that no value is not necessarily equal to null value (although I've never made API contract this way).

I believe this `ALLOW_JSON_OPTIONAL_NULL ` flag you mention above could do the trick for me.
Or maybe we need some additional type check, somthing like:
[code]
or
[

[2018-09-11 22:53] fider opened #75 "Using JsonCustomConverter causes Expected type to be undefined"
Example:

[code]
Will thorw error message:
[code]

I expect to be able to determine **Expected type** because in above case it is **undefined**

[2018-09-11 23:51] andreas-aeschlimann commented on #75
It cannot determine the expected type, but indeed we should fix this to show `CustomConverter` as expected type.

I don't understand the logic above, there are maybe some things to correct:
- <String> should be <string> on the top
- you should return a date object in the deserialize method, not just the string

What is `isValid`? Does it check whether the input string is a string that can be used

[2018-09-12 00:13] fider commented on #75
@andreas-aeschlimann  should be dat**A** not dat**E** - just copy paste error of mine.
It can be usefull if eg. you want to validate string with some special conditions and you do not want to expose to user something like this "Expected JSON: SpecialObject" but you would like to expose something like this "Expected JSON: Capitalized string of exactly two words".

If you are ok with this let me kno

[2018-09-13 07:21] CharbelIlias opened #76 "Files from /src not found"
Im getting 404s on all files from inside /src/json2typescript when I use this package. In my systemjs use the path /node_modules/json2typescript/index.js'.

Have I missed something?

[2018-09-13 15:57] andreas-aeschlimann commented on #76
This is the same as #72, most likely.

I don't know how to fix it, I saw it once and then the error disappeared...

What setup do you use? I have only tried Angular and Ionic CLI projects so far (using WebPack).

[2018-09-14 06:29] CharbelIlias commented on #76
Interesting, thanks for the link, but his/her solution did not work for me...
My setup is a .NET framework application that I've added Angular 5 to. No CLI, no WebPack. But I use Gulp to load/build.  I've been trying to solve this for two days now..

[2018-09-14 13:12] andreas-aeschlimann commented on #76
If you go back to the previous version, does the problem occur as well?

[2018-09-19 15:31] fider commented on #75
@andreas-aeschlimann
IMO below should be enoug to fix. Please verify and apply if you see no bugs in this solution:

FILE:
https://github.com/dhlab-basel/json2typescript/blob/master/src/json2typescript/json-convert-decorators.ts

TODO:
Do **not** put line 171 in `else`
[code]

[2018-09-24 09:10] CharbelIlias commented on #76
I solved this by adding this to 'packages' in systemjs.config.js:
            json2typescript: {
                defaultExtension: 'js',
                main: 'index.js'
            }

[2018-09-24 09:10] #76 closed

[2018-09-24 12:07] andreas-aeschlimann commented on #76
Do you think this is a SystemJS-only related issue? Is there a way we can provide a fix generically?

[2018-09-25 07:49] CharbelIlias commented on #76
Im not sure, I have only used this package on one Angular project. But I would atleast recommend a more in-depth README for getting this up and running on Angular, where you add this line as a possible way to make it run, because this took me almost two days to get right..

[2018-09-25 10:49] musicEnfanthen commented on #76
This seems to be the usual way to embedd external packages with SystemJS, isn't it? (cf. https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#packages )

[2018-09-25 14:06] andreas-aeschlimann commented on #76
I haven't worked with SystemJS since the very first betas of Angular, so I don't know.

But in that case I suppose we do not have to react to this issue (immediately).

[2018-10-08 04:13] ankitbko commented on #58
Any update on this?

[2018-10-29 18:04] d-winter opened #77 "Support for unknown properties"
Hey, just wondering if there is a way to check for unknown properties when parsing a JSON object.
So this library throws an error when there is one property inside the JSON object which is not specified in the corresponding JsonObject class.
Any ideas on this?

[2018-10-30 18:43] netchon opened #78 "TypeError: "o.OperationMode is undefined" with angular 6 after buikding to production"
Having a problem after build --prod .. everithyng works fine in dev mode.

![jsonconvert](https://user-images.githubusercontent.com/20821335/47741921-0cd99e80-dc6b-11e8-9f78-d33fb72a9d4a.PNG)

error in console after build --prod

![cannot](https://user-images.githubusercontent.com/20821335/47741969-2844a980-dc6b-11e8-9fed-72daaa19a256.PNG)

[2018-10-31 17:03] ninjamyst opened #79 "Deserialization callback method"
Is there a way to mark a method on the object as a method that gets called after object is deserialized?  This can be used to handle initializing helper properties or perform calculations.  Right now, I manually call a function after deserializing an object but it would be nice if that's built in for the times where we have several services deserializing the same object type.

[2018-10-31 20:46] andreas-aeschlimann commented on #79
Can you make a minimal example?

[2018-10-31 20:47] andreas-aeschlimann commented on #78
I don't think this is an issue of json2typescript. If you want to debug it you need to provide a minimal example so we can see.

Are you sure you have no circular dependencies?

[2018-10-31 20:49] andreas-aeschlimann commented on #77
This could be done, of course. Is there a specific reason why you would want it?

[2018-11-08 05:17] vmachacek commented on #78
I have the same issue, I have a really simple object,

[code]

this is my jsonConvert usage
[code]

Exception
[code]

[2018-11-08 14:48] andreas-aeschlimann commented on #78
We cannot reproduce this issue. Are you using a standard Angular CLI or Ionic CLI project? It must be some specific build setting.

Can you post a minimal GitHub project that demonstrates the issue?

For your info, the "ENABLE" is an enum value contained in json2typescript file json-convert-enums.js. If for some reason the browser does not support enums (missing polyfills?), then this error could

[2018-11-09 05:38] vmachacek commented on #78
Hi, Im using standard angular CLI with not ejected webpack.

versions:
[code]

This is my ng build command

[code]

and configuration test

[code]
I will create test project later if I have some free time..

[2018-11-15 16:44] brandon-sigao commented on #58
I'd also be interested in an update.  We've been getting around it by using "Any" in the JsonProperty decorator, but its seems like bad practice to do that.  Some properties really should throw an error if they're ever null, and some properties absolutely need to be nullable.

[2018-12-04 20:19] onionhammer opened #81 "Case insensitive property lookup?"
I'm trying to utilize this because we get some inconsistent cases from lots of different source, but it looks like it is case sensitive

Is there a way to configure JsonProperty() to not have a case sensitive name

[2018-12-08 23:32] onionhammer commented on #81
@andreas-aeschlimann yeah thats probably the best bet... but you would have to do every permutation;

For instance these should all be valid:

parameterId
parameterID
ParameterId
ParameterID

[2018-12-21 05:19] dleavitt opened #82 "OperationMode.DISABLE constructor param has no effect"
Since the value of `OperationMode.DISABLE` is 0, it fails the first clause in this check and the operationMode stays at `1`:
https://github.com/dhlab-basel/json2typescript/blob/master/src/json2typescript/json-convert.ts#L134

Bug or unintentional feature? :)

[2018-12-21 14:12] andreas-aeschlimann commented on #82
Lol funny "feature". Thanks for the report, will fix it of course.

Tests should also cover this case. I thought they did, apparently, they don't.

[2018-12-22 02:02] kaz138 opened #83 "Using deserialize inside the class constructor?"
The example provided all show the usage of calling a static deserialize() function from jsonConvert to load the class. For my use case I'd like to wrap that inside the constructor of each individual class.

I wonder if anyone has tried using it this way, and whether there're any issues with that? I haven't tested this thoroughly to tell if this will be 100% fine, given some lack of understanding o

[2018-12-25 08:09] mingz-unity opened #84 "Undefined fields not fetched"
Trying to hunt down some bug (properties disappeared after being touched by json2typescript serialization), and traced down to this code in json-convert.ts:

        for (const propertyKey of Object.keys(instance)) {
            this.deserializeObject_loopProperty(instance, propertyKey, jsonObject);
        }

The iteration of the keys for some reason skipped a few fields that are undefined when t

[2018-12-25 08:11] mingz-unity commented on #84
Found this discussion (but I'm running it in node.js though):
https://stackoverflow.com/questions/31473282/how-to-fix-missing-keys-in-object-keys-compared-to-for-in-with-hasownpropert

[2018-12-25 08:12] mingz-unity commented on #83
Looks like it needs to be a static construction method. Calling it directly from the constructor will start the serialization, but it's probably not a good idea since the constructor will be called again in serialization.

[2018-12-25 15:08] andreas-aeschlimann commented on #84
What happens if you assign a default value to the properties of the class? Are they still skipped?

[2018-12-25 15:12] andreas-aeschlimann commented on #83
You shouldn't use jsonConvert in a constructor of a class that has json properties. You could do something like this though:

[code]

Note that the constructor of Test is automatically called on the deserialize method. The constructor must not have mandatory params because the deserialize method calls it with 0 arguments.

[2018-12-25 15:13] andreas-aeschlimann commented on #81
Todo: case insensitive mode

[2018-12-25 15:13] #79 closed

[2018-12-25 15:16] #78 closed

[2019-01-18 22:13] saachinsiva opened #85 "Handle Circular dependency"
Hello

We are currently working on an existing application where we have many classes that has circular dependencies and I did read through the document here that says avoid circular dependencies. But I am wondering are they any other workarounds that I could use?

Thanks in advance

[2019-01-21 23:30] andreas-aeschlimann commented on #85
If you have circular dependencies, things may break (of Angular or Json2Typescript). In any case, there might be something wrong with the model design if it happens. You can avoid it by using parent/child classes.

A simple example would be a User and Group class. Each user can be in a group, and each group can have users. Both classes will import each other with a default approach:

**group.ts**

[2019-01-22 15:21] andreas-aeschlimann commented on #84
Closing due to inactivity.

[2019-01-22 15:21] #84 closed

[2019-01-22 15:22] andreas-aeschlimann commented on #83
Closing due to inactivity.

[2019-01-22 15:22] #83 closed

[2019-01-22 17:37] andreas-aeschlimann commented on #82
Fixed in new commit

[2019-01-22 17:37] #82 closed

[2019-01-22 17:38] #72 closed

[2019-01-22 18:47] andreas-aeschlimann commented on #81
This has been implemented and will be included in the new version 1.0.7.

[2019-01-22 18:47] #81 closed

[2019-01-30 20:31] andreas-aeschlimann opened #87 "Serialization usage unclear"
Currently, serialized instances/arrays return correctly mapped objects, but they remain instances of the object.

It should be considered to make them plain JS objects instead.

[2019-01-30 20:42] andreas-aeschlimann commented on #73
Hey @g00dnatur3 & @m-architek, just a little question about this issue.

Why do you think is this approach better than just using

const result: Foo = <Foo> this.jsonConvert.deserialize(obj, Foo);

? In the end, the generics are not forced anyway, so you have to remember to type it anyway.

I agree it feels more clean to use generics, but due to the lack of being able to do `new T()` they do not r

[2019-01-31 09:31] m-architek commented on #73
In my opinion it is better to have this type check because it is for no cost at all and it can help to proof against some copy-paste mistakes or whatever.

I don't see any reason anyone would ever want to do this:
[code]

[2019-01-31 11:38] g00dnatur3 commented on #73
I agree with m-architek, the type-checking should be at compile-time whenever possible...

As I pointed out earlier, in my VS-Code IDE

`const b: B = jsonConvert(data, A)`

This should show a red-underline and immediately alert me to the error.. A != B right..

However, this kind of mistake is currently only caught during runtime... by then its too late.

This is just our feedback, we all chose Ty

[2019-01-31 14:49] andreas-aeschlimann commented on #73
I didn't know that it works without adding the actual generic type to the method. I agree with you.

However...

Some issues arise with this idea:

The basic method `deserialize` currently returns either null, T or T[]. This means that

    const cat: Dog = jsonConvert.deserialize(cat1JsonObject, Dog);

does not work because the compiler will also expect Dog[] or null. Because the deserialize meth

[2019-01-31 15:57] #73 closed

[2019-02-06 19:37] kaps727 opened #88 "multiple JSON-values into the same property not working"
I am following below section of documentation

but its not giving me expected output.

NOTE: All other properties are getting converted as expected with only one @JsonProperty decorator.

here is link of reproduction of this issue.

https://stackblitz.com/edit/angular-uh3d4a

[2019-02-06 20:34] andreas-aeschlimann commented on #88
This is a future feature that has already been added to the code on GitHub. I shouldn't have pushed the recent commit to the master branch.

Please always refer to the documentation on npmjs website, because that's the documentation matching the currently released version!

The ReadMe on this GitHub already implements this new feature and after doing some more integration tests I will release it (

[2019-02-13 01:23] andreas-aeschlimann commented on #88
I released the current version v1.1.1 now.

Unfortunately, I decided to drop support for multiple decorators just for now. One of the reason is that the logic was not consistent in my eyes. I have to rethink the idea and discuss with my colleagues what will be best for the future.

[2019-02-13 01:23] andreas-aeschlimann commented on #85
Closing due to inactivity

[2019-02-13 01:23] #85 closed

[2019-02-13 01:30] andreas-aeschlimann commented on #75
Line 171 is correct actually.

If you provide a custom converter, the expected type would be the one given in the methods of the converter.

The problem is somewhere else: The error that you throw is caught by `json2typescript` within the class `JsonConvert`. We need to improve that error message depending on the caller.

However: I planned to add custom errors in the next big version to improve e

[2019-02-13 01:34] andreas-aeschlimann commented on #13
Closed due to the fact that reflection is the only proper solution afaik.

The pull request solves that, but we decided not to implement it in order not to get a dependency.

[2019-02-13 01:34] #13 closed

[2019-02-13 08:11] kaps727 commented on #88
Okay. Waiting for the same.

[2019-02-20 07:36] jmesa-sistel opened #89 "Error in deserialize using Observable in 1.1.1"
After update from 1.0.6 to 1.1.1 I have errors

Code:
[code]
Error:
[code]
Workarounds:
a) In this case I have to use deserializeArray to get it working. If I try with an object instead an array I need to use deserializeObject or I will have similar error.
b) Cast the result: return <ProcessScreenFieldDTO[]>globalJsonConvert.deserialize(result, ProcessScreenFieldDTO);

Tested with typescript  3.2.

[2019-02-20 13:32] andreas-aeschlimann commented on #89
This is not an issue, but actually a new feature. As we introduced generics within the json2typescript (de)serialization methods, it checks the return type. The compiler throws an error if you don't infer the correct type.

The `deserialize` method does either return an object or an array, because it expects an object or an array as parameter. If you don't like that, you should explicitely use the

[2019-02-20 17:18] jmesa-sistel commented on #89
@andreas-aeschlimann

This is not about if I like it or not, just the next code does not work, so deserialize function seems not useful

[code]

[2019-02-20 17:23] andreas-aeschlimann commented on #89
As I said:

You need to write this:

[code]

If you want to force the compiler to absolutely trust you on the type (I don't suggest that!), then you could do something like this:

[code]

I would still use `deserializeObject`.

[2019-02-20 17:36] jmesa-sistel commented on #89
Yes I have refactor all my code to use `deserializeObject` or `deserializeArray`. I think it is the best and clear solution.
I do not like this solution: `let x: MyClass | MyClass[];`

Anyway thanks a lot for this great library, it is very very useful.

[2019-02-20 17:36] #89 closed

[2019-02-20 17:44] andreas-aeschlimann commented on #89
Yes, it forces us to work even more precise.

I know it can be a little bit annoying but in the end it will help reduce errors.

Thanks!

[2019-02-21 19:27] andreas-aeschlimann commented on #58
I am planning a new version (2.x) with some deeper changes, but before that I suggest the following:

`@JsonProperty("middleName", String, true)
middleName: string = "";`

`middlename` is an optional json param and automatically ignored if the JSON value or local value is null. This means that `jsonConvert.deserializeObject(json, Person).middleName` will print `""` and not `null` (and also not thr

[2019-02-25 16:28] m-architek commented on #58
It still not covers my case when I want to allow null, but not on optional field.

Example:

[code]

[2019-02-26 06:49] depl0y opened #90 "Multiple decorators error in 1.1.1"
Today I upgraded to version 1.1.1, but it seems that multiple decorators are no longer allowed on properties?

[code]

This results in the following error:

[code]

In version 1.0.6 this works as expected.

[2019-02-26 06:54] depl0y commented on #90
Seems, this might be a duplicate of https://github.com/dhlab-basel/json2typescript/issues/88

[2019-02-26 08:33] m-architek commented on #58
Ok, I can see it works this way without `ALLOW_NULL` flag. Thank you for this change. :)

[code]

[2019-02-26 14:23] andreas-aeschlimann commented on #90
Hi @depl0y

Two decorators actually never worked. Since 1.1.0 it throws an error because otherwise people would think it works!

There was indeed a pull request but it raised some new issues, hence it was postponed.

[2019-02-26 14:30] andreas-aeschlimann commented on #58
Exactly.

If you globally allow null, the first property will actually get a null value. You then need to make sure to tell the compiler that through your type definition!

If you disallow null, the first property indeed must not be null. If the second is null in the json, nothing is done and your default in the class is taken. This default could also be something not null, like „default“.

What i

[2019-02-27 13:01] andreas-aeschlimann commented on #58
I'll go ahead and close this issue, I consider it fixed for now with version 1.2.0.

There is still room for improvements (like different behavior for each property), but this will be postponed for a future 2.0.0.

[2019-02-27 13:01] #58 closed

[2019-03-03 23:15] andreas-aeschlimann commented on #90
I'm closing this in favor of #88, please feel free to respond here or there.

[2019-03-03 23:15] #90 closed

[2019-03-08 05:29] Brendenjvv opened #91 "Feature: async Deserialize/Serialize"
Hi, will it be possible to add serialize/deserialize methods that return Promises? Our use case here is we are loading types from a server call and need to await the server result before continuing with the deserialize logic.

[2019-03-08 13:40] andreas-aeschlimann commented on #91
Can you show me an example how you are working now and how you mean that?

We are coming from Angular/RXJS and we usually work with the pipe operator to achieve what you like to do (at least I think so).

[2019-03-08 14:45] Brendenjvv commented on #91
Hi, the method we are using to get our plugins is async so we have to use await to get the result in our deserialize method. The issue here is that the JsonCustomConvert interface doesn't provide a promise or promiseLike so we can't await the deserialize on the interface.

See example:
[code]

[2019-03-08 15:52] andreas-aeschlimann commented on #91
Can't you wait until the plugin is loaded before the deserialization?

What kind of "magic" is happening in Helper.getType? I would just execute this code before doing the deserialization.

[2019-03-11 07:36] seanbotha123 commented on #91
Hi Andreas

What if the plugin can only be loaded when the deserialization happens? i.e. what if the `plugin.type` dictates that we need to load a plugin from the server? This would mean that we need to get the actual class definition from the server, and need to wait for this to be completed.

So the `magic`, as you call it, is a plain server call to get the class definition. And this cannot happ

[2019-03-18 15:33] andreas-aeschlimann commented on #91
I see, thanks for your comments.

I don't know yet if this can be implemented without a breaking change. If not, I would postpone this for v2.0. As soon as I work on the library, I will look into it.

[2019-03-31 13:31] Kcorab opened #93 "propertyKey of JsonProperty is ostensively undefined"
Firstly the error output:
[code]
The problematic class which has the property `größe` is called `Kleidungsstück`.

Please take a look at my code snippet of `kleidungsstück.model.ts`.

[code]
_json2typescript_ suggests that the type `Größe` is undefined. How can this be?

Now take a look at `größe.model.ts`, please.

[code]

Do you have some ideas why this happens?

[2019-03-31 13:50] andreas-aeschlimann commented on #93
Hi, I cannot tell from this example.

Are you sure that umlauts and the double-s character don't cause a problem?

I have also never worked with numerical properties before, but I guess this should work. What does your initial json look like? Maybe we should create a (minimal) stackblitz example to figure this out.

[2019-03-31 19:54] Kcorab commented on #93
After two hours of searching I came to the conclusion that the problem has nothing to do with _json2typescript_.

I thought it was very unlikely that the error was caused by the umlauts and the sharp s (`'ß'`) because everything has the UTF-8 encoding.
Nevertheless I have renamed my `größe.model.ts` to `size.model.ts` and removed all words with umlauts and sharp s.
The result: Same error! But now

[2019-03-31 19:54] #93 closed

[2019-03-31 20:07] andreas-aeschlimann commented on #93
Glad to hear it. Stuff like this happens a lot, unfortunately. I once had a protected space in a file which caused corruption, but obviously you couldn't see it with the normal IDE...

[2019-04-15 12:08] Kcorab opened #94 "Mixed decorators / perherps a circular reference issue"
I want to discuss the cause of the exception in [this closed issue][1] again.

The issue is also published on [stackoverflow][2].

Summery
--------

I get a circular loader exception. This is may caused by the compiler option `"emitDecoratorMetadata":true`. It has nothing to do with json2typescript directly but maybe you can help me!

Introduction
------------

I have prepared a **minimal** projec

[2019-04-15 13:30] andreas-aeschlimann commented on #94
You should get rid of the circular dependency. Depending on which class is defined first in the final JavaScript, the other one is still undefined. At run time, it will pass `undefined` to the decorator.

[2019-04-19 23:10] MetaiR opened #95 "is it safe to do all converting with same instance"
hi,
I just want to know is it safe or I have to create a new instance for each convert situations I have?

[2019-04-19 23:11] andreas-aeschlimann commented on #95
Yes, it is safe and – most of the times – preferred.

Having multiple instances is only necessary when you have different API's or different behavior in some classes of your code.

[2019-04-20 08:32] MetaiR commented on #95
tnx for ur answer, please add this note somewhere inside your Readme.md

[2019-04-20 08:40] #95 closed

[2019-04-23 19:27] tlmurphy commented on #88
That piece of documentation still lives in the readme as well as on npmjs. It should probably be removed as it's a little misleading since it doesn't work properly as of yet.

[2019-04-24 13:23] andreas-aeschlimann commented on #88
That is not good, can you show us where? Just on NPM or also GitHub?

[2019-04-24 15:37] tlmurphy commented on #88
Right above the https://github.com/dhlab-basel/json2typescript/blob/master/README.md#first-parameter-classidentifier-optional section.

[code]

It's in the same place on npm as well.

[2019-04-25 16:14] andreas-aeschlimann commented on #88
I don’t even understand what it is doing there, it’s in the wrong chapter. Will be deleted soon.

[2019-04-26 22:36] emirbega commented on #51
@andreas-aeschlimann I think this issue is still present and it has to do with Uglify mangle option. See screenshots for prod and non prod builds and you will see the issue.
<img width="1112" alt="Screenshot 2019-04-27 at 00 23 48" src="https://user-images.githubusercontent.com/27885681/56839768-5c98cb80-6884-11e9-8f40-cb3a45f3f13d.png">
<img width="1361" alt="Screenshot 2019-04-27 at 00 28 09" sr

[2019-04-26 23:07] andreas-aeschlimann commented on #51
Did you try to use the `@JsonObject("className")` decorator? This should fix/bypass this problem. This fix has been released a few months ago, see also the current ReadMe!

[2019-04-29 07:49] ahmedbajra opened #96 "Error while deserializing shadowed property name"
I've run into an issue while deserializing an Object with the following JsonObject classes

[code]

[code]

(The last one is rather irrelevant)

[code]

The error and stack trace I got were the following:

[code]

Could the reason for this be the shadowed property name "issueTypes" and the two different types it's associated with?

If so, what can I do to solve this?

(I'm using json2typescript@1.

[2019-04-29 09:03] ahmedbajra commented on #96
Thinking that the problem might've been solved in a newer version, I upgraded to 1.2.0
Still get the same error.

[2019-05-02 14:42] andreas-aeschlimann commented on #96
Hello

No, this shouldn't be.

I cannot seem to find an issue from the models.

Can you show an example JSON with data for your deserialization?

[2019-05-02 14:43] andreas-aeschlimann commented on #94
Have you solved your circular dependency and then tried again?

I'll go ahead and close this issue. Feel free to open it if the issue still persists.

[2019-05-02 14:43] #94 closed

[2019-05-02 14:54] #88 closed

[2019-05-04 12:17] ThawedBuffalo opened #97 "Deserialize issue with model decorators"
Upgraded to new Angular version from 5.2.11 to 7.2.2 for an Ionic project. Deserializing throws an error indicating the model does not contain properties of required types. I used the "City" demo from your sample and was able to reproduce error. This may be a rookie mistake, but I am blocked. Any help is greatly appreciated. Attaching sample files and error message, also with link to project. Than

[2019-05-04 12:53] andreas-aeschlimann commented on #97
Hi, I'm sorry but it's actually an issue of the ReadMe file. We have changed the method signatures to be more strict a while ago, that's why you are seeing an error here.

Let's try to understand your actual error here:

If you are going to line 61, you will see:

[code]
So your problem is that the method you are calling – deserialize() – returns the type `Country | Country[]`, while your variable

[2019-05-04 17:26] ThawedBuffalo commented on #97
Thank you Andreas- not only for your quick response, but also for the manner in which you responded.  You explained the resolution which was quite obvious in an informative and professional way. Thank you for helping me as this was the first time I ever posted on an issue. I appreciate your help. Problem solved!

Jim

[2019-05-04 17:26] #97 closed

[2019-05-04 21:05] andreas-aeschlimann commented on #97
No worries and good luck with your project!

[2019-05-11 19:43] andreas-aeschlimann opened #98 "Version 1.2.2 includes wrong JavaScript files"
For some unknown reason, version 1.2.2 includes older JavaScript files and is thus not working as expected.

Using optional params, the following error might appear:

[2019-05-11 19:49] #98 closed

[2019-05-16 19:55] dleavitt commented on #58
@andreas-aeschlimann thanks so much for doing this! I've been going through my projects and setting `DISALLOW_NULL` and it's turning up lots of potential bugs in my typedefs/apis. Super helpful!

[2019-05-20 11:47] niveo opened #99 "Cannot access 'x' before initialization"
[code]
Error: Cannot access 'ConfField' before initialization

I have a circular dependency that is generating an error, does anyone know how to solve it?

[2019-05-20 15:07] #99 closed

[2019-05-20 18:12] andreas-aeschlimann commented on #99
I'll show it by an example how you can resolve a circular dependency:

Consider this circular dependency `FootballGame => FootballLeague => FootballGame`:

[code]

Pick now one of the two classes and create a parent class or interface. Your new structure might create the dependencies `FootballGame => IFootballLeague, FootballLeague => IFootballLeague`, but there is no circular dependency anymore:

[2019-05-21 00:59] dleavitt opened #100 "Structured errors"
The current error format is good for reading in the console, but is not very suitable for sending to error reporting services or otherwise dealing with in a programmatic way, as it's a big string.

Instead, could throw an error subclass with the same fields as the message uses, something like:
[code]

Some other things that seem pretty useful for both error reporting and readability:
* Have the op

[2019-05-21 20:12] andreas-aeschlimann commented on #100
Hey, thanks for your input. In fact I had already something like this in mind for the next major release. I'll keep this issue open so we'll make sure that it is included in the future.

[2019-05-23 06:48] AllanWang opened #101 "Using bang sign instead of default value"
Is there any reason we can't use the bang symbol instead of providing defaults?

Example:

[code]

instead of

[code]

I ask this as well because the examples commonly go back to setting `undefined` by default, even with non null types, which violates another ts flag. Does that somehow provide any more information than the bang symbol?

[2019-05-23 21:13] andreas-aeschlimann commented on #101
It is indeed a bit awkward, but the way json2typescript works it is necessary to assign a value (which can be anything you like). I don't think your first example assigns a value when you compile to JavaScript, or does it?

In projects where I use `strictNullCheck`, I always assign the default value of the type, or I explicitly add null as type and assign null.

[2019-05-23 21:15] AllanWang commented on #101
My question is, what exactly is requiring the default assignment, especially for cases where we assign `undefined`? I don't think the first case assigns any values, but it allows the compiler to know that a value is 'guaranteed'. The second way works with strict null checks. My concern came from cases where the type is another class. At the time of doing things I wasn't able to call the constructo

[2019-05-23 21:20] andreas-aeschlimann commented on #101
When you compile to ES5, the properties are removed that do not have a default value assigned, hence the type checking does not work at all.

You are right about the class. I suggest do you use `property: Class | undefined = undefined` or property: Class | null = null` to satisfy the compiler.

[2019-05-24 00:27] AllanWang commented on #101
Is there a specific flag? What I've tested is with es5:

[code]

Modifying the signatures would defeat a big part of the typescript null checks if a field should never be null or undefined

[2019-05-24 13:45] andreas-aeschlimann commented on #101
The compiler option should be `"strictNullChecks": true`. After setting that, you should be good.

I don't think that modifying the signature is a problem. Consider something like this:
[code]
This will ensure that json2typescript throws an error if the json does not match the Person class structure. If you only construct the object through json2typescript, person will always be an instance of Per

[2019-06-03 13:47] ErlendEllingsen opened #102 "Consider adding generic type as parameter for custom converters"
_This is a proposal, and may not be the correct way of doing stuff. My goal is to implement a generic custom converter for string based enums, and I think this would allow that._

Whilst trying to write a generic custom converter for string based Enum types, I find that the current design of `JsonCustomConvert` will not allow such behavior (to my knowledge).

I was thinking about implementing a de

[2019-06-07 00:04] pietschy opened #104 "exclude properties from serialization"
Hi there,

Is it possible to exclude properties from the serialization process?  Similar to https://github.com/edcarroll/ta-json#jsonwriteonly?

Thanks!

[2019-06-21 20:40] patafx opened #105 "Circular dependancy"
Do you planned a solution to implement a solution for Circular dependancies ?

The behavior could be

- Set attribute to `null`  when circular detected,
- Not serialized attribute

[2019-06-22 21:58] andreas-aeschlimann commented on #105
At the moment, it is not planned to implement a solution. You can always exclude a class from using the library, of course.

[2019-06-24 21:01] nicolaedaian opened #107 "How to serialize the name of the property instead of the name of the base class field?"
Please look at the below code. I expect the result of the serialization to be

    {
    	"origin": {
    		"x": 1,
    		"y": 2
    	},
    	"size": {
    		"width": 3,
    		"height": 4
    	}
    }

Instead it is

    {
    	"origin": {
    		"a": 1,
    		"b": 2
    	},
    	"size": {
    		"a": 3,
    		"b": 4
    	}
    }

How can I make json2typescript to use the name of the properties in t

[2019-06-26 18:55] andreas-aeschlimann commented on #107
I don't think json2typescript will properly work with get/set methods for properties, you should always use it with the field.

I don't know if it would be easy to implement this, but I don't think so. If you know, you are welcome to give some input!

[2019-06-26 18:58] andreas-aeschlimann commented on #104
It is not directly possible, if you mean by setting a simple flag.

What's possible right now is to exclude it if it is null/undefined with the `isOptional` flag.

[2019-06-26 19:00] andreas-aeschlimann commented on #102
I am not sure if it is possible, but you are welcome to make a pull request! I do not know at the moment when I will be investing time in development again, but I will keep this issue open for this purpose.

[2019-06-26 22:13] nicolaedaian commented on #107
Yeah, I ended up doing the following:

1. Instead of using the json2typescript library I used JSON.stringify and JSON.parse
2. I used toJSON() to return an object that has width and height as below:

[code]

[2019-06-26 22:26] JarLowrey opened #108 "Large datasets freeze browser"
I have an array of 5500 objects, each with 27 keys. Some of these keys nest to child objects as well.

When calling `jsonConvert.deserializeArray(myArray, ValueCheckingMode.ALLOW_NULL);` the browser CPU spikes and appears to freeze for many minutes. I have not been able to get it to finish despite long wait periods. Am I out of luck in this use case for this package?

[2019-06-27 12:41] andreas-aeschlimann commented on #107
You could also use custom converters and call the set/get methods there. But the decorator needs to be set to the field.

Custom converters are a good way to assign anything you want, not just simple strings. We could actually implement a solution where json2typescript automatically calls the get/set methods, if there are some. I will keep this open for future reference.

[2019-06-27 12:46] andreas-aeschlimann commented on #108
Is this a typo? `jsonConvert.deserializeArray(myArray, ValueCheckingMode.ALLOW_NULL);`

The second parameter here must be the type, not the ValueCheckingMode. This could never work.

In general I can say that I have used json2typescript with large nested objects as well. It is clear though that at some point you will get a performance hit. Imagine that for every object, json2typescript loops all p

[2019-06-27 15:28] JarLowrey commented on #108
Sorry, that was a type. second param is `repositoryType`.  This is for a "export all data to excel" function, so it's all needed. IDK if it needs to be converted to TS though, will have to see if I can do without.

[2019-06-28 19:37] JarLowrey commented on #108
I solved this problem by rewriting the model's instance methods as static methods, and then removing the conversion to typescript.

Example:

[code]

Depending on how many objects you have, and how much existing code depends on them being objects instead of JSON, you (future reader) will need to decide if optimization is worth the readability/TS typeless tradeoff

[2019-06-28 19:37] #108 closed

[2019-06-28 21:20] andreas-aeschlimann commented on #108
So you removed the usage of json2typescript for this case?

[2019-07-01 18:07] JarLowrey commented on #108
Pretty much, yes

[2019-07-05 17:50] jefflomax commented on #71
If you try to define your @JsonObject() in the same file as your jsonConvert.deserialize() you will get this error.  If you move it to it's own file, and import it, this error goes away.

[2019-07-08 17:15] jefflomax commented on #96
I can't offer any help, but I would try constructing the object(s) and running serialize().  It will probably crash also, but MIGHT succeed and show you the JSON it likes.

[2019-07-30 08:02] ErlendEllingsen commented on #102
@andreas-aeschlimann I will see what I can do

[2019-08-01 07:54] fanblater opened #109 "Error when deserializing json by json2typescript"
I'm trying to deserialize my JSON to convert in typescript with the library json2typescript but I have this following error:

**Error: Fatal error in JsonConvert. Failed to map the JSON object to the class "typeGeneral" because the defined JSON property "type" does not exist:

Class property:
    _type

JSON property:
    type**
service.ts

[code]
model.ts

[code]
component.ts

[code]
and here is

[2019-08-05 11:21] fanblater commented on #109
I think it's maybe my json structure json may cause probleme with deserialization ? May be my post is not clear ?? **please help me** :)

[2019-08-18 12:40] pavelDohnalik commented on #109
I have the same issue with deserialization. How can I solve?

[2019-08-29 12:23] andreas-aeschlimann commented on #109
Can you post the full error message? The end of it is usually the most important part.

[2019-08-29 12:34] pavelDohnalik commented on #109
@andreas-aeschlimann yes, I can. I am going to post it in the evening.

[2019-09-10 07:47] qpi opened #110 "@JsonProperty annotation reads wrong class attribute"
I tried to use Angular's FormControl and FormGroup inside my models, but strangely json2typescript do not linked the attribute just after the annotation.
For example I have this implementation:
[code]
so when I call serialize() method on this model, strangely the result will be like this: { id: FormControl ....... }

I created a live stackblitz example to see the issue and it contains also my ligh

[2019-09-19 05:51] seanbotha123 opened #112 "Ability to emit objects that have default value of serialize call."
Hey guys,

So the reason for this request is as follows. Picture you have a class that has a few properties, you have to serialise and de-serialise when doing server calls, all is perfect, network calls are fine ect etc.

Now the issue comes in when you start having multiple classes with loads of properties, and theses classes reference other classes that have loads of properties. When you are ser

[2019-09-23 21:39] andreas-aeschlimann commented on #112
This is a very interesting idea, thank you.

Will definitely consider this in an update. Any suggestion how we would achieve that? Probably with an additional setting on the jsonConvert instance?

[2019-09-23 21:43] andreas-aeschlimann commented on #110
That is very strange and looks like a bug. Thanks for your submission.

[2019-09-23 21:45] #105 closed

[2019-09-25 05:01] seanbotha123 commented on #112
Well I'm guessing there are 3 ways to go; either add a new `serialize` method that can do this, or add another parameter to the existing `serialize` method that can toggle this functionality on or off, or as you suggested as a setting on the instance.

[2019-10-08 20:56] ReeRichard opened #113 "Unable to load json2typescript into Lit-Element based project."
Hi,

I installed json2typescript via npm and want to use it in my typescript of my page as described in the docs:

`import { JsonConvert, OperationMode, ValueCheckingMode } from "json2typescript"`

it compiles and looks good until I want to run the page in the browser. I get this error then:

`Uncaught SyntaxError: The requested module '../node_modules/json2typescript/index.js' does not provide an

[2019-10-09 17:26] ReeRichard commented on #113
I downloaded the repository and put it into my project. It workes now, My target is set to esnext which compiles it to the import clauses other modules work with. Sorry for the confusion.

[2019-10-09 17:26] #113 closed

[2019-10-23 21:38] doctorvince opened #114 "Call set method for private member"
Hi,

first thing first, you did a great job! Thanks!

I have some enhancement to propose.
When you use a private member it is mainly because you want to process some stuff in the set (or get) method.
By mapping directly the value to the private member you miss all this stuff.

So it will be great to call the set method if it exists, otherwise you set directly the class member.

My 2 cents.

[2019-10-24 13:45] andreas-aeschlimann commented on #114
You are right. The problem is that you can only use json2typescript with properties right now, not with getters and setters. If you do that, how can json2typescript know the actual name of the setter and getter? Of course, most people use the conventional `_property` and `get property()` naming. But if you use another naming scheme, we have no way to connect those.

On the other hand, is it really

[2019-10-24 13:46] andreas-aeschlimann commented on #109
Have you solved your issue @pavelDohnalik? Please share your experience or let me know if we can help. I am going to close this for now due to inactivity. Feel free to reopen if necessary.

[2019-10-24 13:46] #109 closed

[2019-10-24 13:48] andreas-aeschlimann commented on #101
Closing due to inactivity. Feel free to reopen if needed!

[2019-10-24 13:48] #101 closed

[2019-10-24 13:49] andreas-aeschlimann commented on #96
Closing due to inactivity. Feel free to reopen if needed!

[2019-10-24 13:49] #96 closed

[2019-10-24 15:03] jmesa-sistel commented on #114
@andreas-aeschlimann Sometimes you want to update other component or variable when you set the value, for example make visible a div if the property has a special value.
In my opinion it is very useful to use a setter.

[2019-10-24 17:02] doctorvince commented on #114
You could search for `set _property()` then `set property()` (with public visibility by example) and throw an error if you could not find any of them.
You will force the user to follow your practice but it is already the case with setting ùndefined` value to property.

Regarding your second point: your client application consume some APIs (and you probably don't owned these APIs) and receive data

[2019-11-29 14:24] cristianmiranda commented on #88
Hi! Any updates on this one? 🙄

[2019-12-21 20:46] trusktr commented on #10
I've opened a request to fix issues like these in TypeScript by bringing declaration files to parity with language features. https://github.com/microsoft/TypeScript/issues/35822

[2019-12-21 20:46] trusktr commented on #1
I've opened a request to fix issues like these in TypeScript by bringing declaration files to parity with language features. https://github.com/microsoft/TypeScript/issues/35822

[2019-12-30 12:34] eduard2014 commented on #102
Have you found any solution for this proposal?

[2020-01-02 04:37] thanhlelgg opened #118 "Can't use exclamation mark with property"
Hi guys, I have a class with a property that doesn't allowed to be `undefined`. So I tried:
[code]
But it's not working, the `segment` will be undefined after deserialized, even it exists in the json file.
It's working fine if I use optional property:
[code]
There's a reason that we can't use the `!`?

Update:
Look like the convert only work if we declare the variable as `undefined`, is there any

[2020-01-02 12:55] andreas-aeschlimann commented on #118
Please assign a value, for example ‘segment!: string = ""‘. Then it will work.

[2020-01-03 03:50] thanhlelgg commented on #118
Well, it could work with string, but I also have some custom type (a class), so I have to create a new instance for it if I don't want to use the `undefined`?

[2020-01-08 12:31] andreas-aeschlimann commented on #118
I know it's not perfect. You could use a union type with undefined or null, or you could provide an empty instance.

[2020-01-08 12:34] andreas-aeschlimann commented on #102
Not yet, unfortunately.

Can it be done, considering that generics are gone in the JS compilation?

[2020-01-09 10:19] #118 closed

[2020-01-14 07:47] Myster1o619 opened #119 "Object is not extensible error - using ngrx store-freeze"
<b>Error Message:</b><br><hr>
![image](https://user-images.githubusercontent.com/30766852/72323240-e1e13c00-36b0-11ea-8465-75d9b546104e.png)
This is where the code is breaking: <hr>
![json2typescriptBreaking](https://user-images.githubusercontent.com/30766852/72323275-f9b8c000-36b0-11ea-839b-73b618aced7e.PNG) <hr>
I am using store-freeze from ngrx, if I remove store-freeze, I do not get this error

[2020-01-14 22:26] andreas-aeschlimann commented on #119
Is this somehow related or could help? https://github.com/brandonroberts/ngrx-store-freeze/issues/39

I haven't worked with ngrx store yet so I am not sure if I can help there.

It looks like once you freeze an object (instance), it may not be manipulated in the way json2typescript does.

[2020-01-15 09:57] Myster1o619 commented on #119
Thanks for the link.

The **ctor** (classReference / constructor function) in
`const jsonObj = this.jsonConverter.deserializeObject(jObject, ctor);`
appears to be frozen, the **jObject** is not - could that possibly be the cause?

Will investigate further.
Thanks for your help.

[2020-01-21 23:38] andreas-aeschlimann commented on #119
Yes, I think so. Unfortunately I do not really know. :-/

[2020-02-05 15:13] jonthemiller opened #120 "Bug when using package in NuxtJS"
I'm having an issue when specifying the second parameter for the `@JsonProprty` decorator, and only within the context of a NuxtJS application. I filed this bug to the nuxt/typescript project and was wondering if you had any further insights as to what might be occurring: https://github.com/nuxt/typescript/issues/274

Specifically, the conversion fails when trying to specify an array of objects. I

[2020-02-09 13:26] osotnikov commented on #61
I would still argue for that feature to be added.
In my case I am simply trying to parse a very convoluted JSON into my simple typescript interface for my service layer model.
The data may come from different sources each of which will have its own convoluted way of representing it as JSON.
What I want is a tool that will allow me to annotate the implementation classes of my model interface, and t

[2020-02-10 22:16] andreas-aeschlimann commented on #61
It would be an interesting feature. Right now it is achievable, but only with a custom mapper.

One problem is that this mapping is not bijective. You lose data by deserializing, so I am not sure how to define serialization in that case.

[2020-02-10 22:20] andreas-aeschlimann commented on #120
Hello and thanks for posting the issue.

It is actually the first time I hear about NuxtJS, so I am afraid I will not be of any help...

Could it be connected to the way the code is compiled?

[2020-02-11 13:28] osotnikov commented on #61
Seems like supporting serialization would complicate the implementation of this feature by a lot. Why not just throw an exception in case serialization is attemped, or simply just ignore the fields that are annotated as nested? A more elaborate solution could be investigated at a second phase.

[2020-02-11 14:43] jonthemiller commented on #120
I'd assume that it has to be the case as well, just not familiar enough with it to pinpoint exactly what.

Another weird issue I've come across when using the package within Nuxt. If I do a class like the following, to account for the possibility of a field not being present:
[code]
And convert an object that does have the field, I get an exception:
[code]
[code]

This does work, however, if the `

[2020-02-11 14:46] jonthemiller commented on #120
Here's the repo showing it breaking in Nuxt: https://github.com/jonthemiller/nuxt-ts-array-deserialize

And the repo working with the library on its own: https://github.com/jonthemiller/json2typescript-example

[2020-03-01 16:57] andreas-aeschlimann commented on #119
@Myster1o619 does this issue still persist in version 1.2.4? I am just asking because we have changed the way that property info is checked and if we are lucky, it fixes your problem.

[2020-03-01 17:05] andreas-aeschlimann opened #124 "Update ChangeLog"
In the newest release, the ChangeLog has not been updated.

[2020-03-01 17:10] #124 closed

[2020-03-02 17:16] Myster1o619 commented on #119
@andreas-aeschlimann - thanks for getting back to me regarding this. <br>
I will test on version 1.2.4 and let you know. <br>
Thanks again.

[2020-03-03 08:34] Myster1o619 commented on #119
@andreas-aeschlimann 1.2.4 seems to have sorted this issue out. <br>
Thanks for all your help. Will close the issue and re-open if necessary.

[2020-03-03 08:34] #119 closed

[2020-03-03 15:47] cmolodo opened #125 "package-lock has different version than package"
The version in package-lock.json is 1.2.4, but the version in package.json is 1.2.5.

[2020-03-10 15:11] sagunpandey opened #127 "Null object while serializing objects"
I have a deeply nested object structure. Here's a minified version of that object

[code]
I am creating the instance of that object in the following way:

[code]

While serializing this object I am getting an empty object for `options`. In my actual use-case, I am getting empty objects for all inner properties that are objects.

I tried to debug out the reason and found that the prototypes `__json

[2020-03-13 23:28] andreas-aeschlimann commented on #127
Have you tried passing a class identifier in the decorator, for example `@JsonObject("Settings")`?

Anyway, I think this will not work because you don't actually have class instances here.

For example, you create
[code]

While this compiles, the property `filterOptions` is not really an instance of `FilterOptions`. I think right now this is mandatory.

By the way, I think a PR (https://github.com

[2020-04-03 17:00] sagunpandey commented on #127
@andreas-aeschlimann Thank you so much for your input. Do you know this is coming to the release? We have a two years old huge application and this is breaking everything.

Thank you again.

[2020-04-13 14:58] andreas-aeschlimann commented on #127
I will close this issue in favor of the PR #126.

[2020-04-13 14:58] #127 closed

[2020-04-13 14:59] andreas-aeschlimann commented on #120
I am sorry that I have not the knowledge or resources to help with that.

If your issue is still active or you have information to share, please feel free to reopen.

[2020-04-13 14:59] #120 closed

[2020-04-13 15:01] andreas-aeschlimann commented on #110
Have you figured out if this is really a bug or some other issue?

[2020-04-13 15:27] #125 closed

[2020-04-14 13:19] andreas-aeschlimann opened #129 "Properties of child classes not (de)serialized"
The documentation should state that since around v1.2.0+, properties of child classes do not work anymore unless the `@JsonObject("ClassName")` is provided. Right now this seems rather optional.

[2020-04-14 13:27] tobiasschweizer commented on #129
If you don't know whether it's optional or not, then no one does ;-)

[2020-04-14 13:29] andreas-aeschlimann commented on #129
It is due to the changes in the inheritance handling that were made in https://github.com/AppVision-GmbH/json2typescript/pull/121

So we basically missed a breaking change in the update v1.2.5: The class decorator parameter 1 must not be empty for child classes.

[2020-04-14 13:31] tobiasschweizer commented on #129
Ok, I get it. So then documenting it would be good.

[2020-04-14 13:34] andreas-aeschlimann commented on #129
Yes, and I will also force the use of a parameter whenever the `@JsonObject` decorator function is called. Then developers cannot miss bad implementations.

[2020-04-14 16:23] andreas-aeschlimann opened #130 "Class decorators should enforce first parameter"
Due to changes in an older PR, serialization and deserialization does not work anymore when no class decorator or when no parameter is provided.

We should make sure developers are forced to add the first parameter.

[2020-04-14 16:25] andreas-aeschlimann opened #131 "Compilation issues with TypeScript < 3.7"
Due to the TypeScript upgrade in json2typescript 1.3.0, it generates declaration (d.ts) files which are incompatible with older TypeScript versions. Angular <9 does not support the newest TypeScript version, thus many users might run into this bug.

We should implement https://github.com/sandersn/downlevel-dts in order to provide more compatible declaration files.

[2020-04-14 17:31] #130 closed

[2020-04-14 17:31] #131 closed

[2020-04-14 17:32] #129 closed

[2020-04-14 18:33] andreas-aeschlimann opened #132 "1.4.0 claims cannot find module json2typescript"
When using json2typescript v1.4.0 with projects compiling with TS <  3.8, it cannot find the module.

Remove the reference to the path `ts3.4` in `package.json`.

[2020-04-14 18:35] #132 closed

[2020-04-15 06:09] acharyaks90 opened #133 "Error in angular after build for version 1.4.1"
After making build and serving for version 1.4.1
Uncaught Error: Fatal error in JsonConvert. It is mandatory to pass a string as parameter in the @JsonObject decorator.

Use @JsonObject(classId) where classId is a string.

    at RCAU.t.JsonObjec

Expected no error.

Note: work fine with version 1.3.0

[2020-04-15 12:09] andreas-aeschlimann commented on #133
Hello and thanks for your question. This is not a bug, this is actually a feature.

You must provide a class identifier in the decorator now. Check the docs for more info.

It is true that version < 1.4 does not force you to use the parameter. You could downgrade to 1.2.5 or 1.3.0. But if you do that, you risk to get problems in your applications. The reason is a pull request (https://github.com/A

[2020-04-16 12:19] ericgruss opened #134 "Need to follow semver versioning."
If you make a breaking change you should always update the Major Version number.  Minor version changes should always be non-breaking.  Version should be 2.x.x

[2020-04-16 12:21] ericgruss commented on #133
@andreas-aeschlimann breaking changes should change major version number always.
Given a version number MAJOR.MINOR.PATCH, increment the:

MAJOR version when you make incompatible API changes,
MINOR version when you add functionality in a backwards compatible manner, and
PATCH version when you make backwards compatible bug fixes.
Additional labels for pre-release and build metadata are available a

[2020-04-16 12:28] andreas-aeschlimann commented on #134
I know the theory and we will upgrade to version 2 when the API changes. However, we don't have a real breaking change here.

The documentation already stated before version 1.4 that you should pass a parameter to the @JsonObject. It was a bug that forgot to force developers to pass the parameter.

The package was not working properly between versions 1.2.5 and 1.4 if @JsonObject had 0 parameters

[2020-04-16 12:28] #134 closed

[2020-04-16 14:11] andreas-aeschlimann commented on #133
Already commented on this in #134 about the thoughts I put into the current update.

TLDR: I wanted developers to run into the error because otherwise they would never notice that they might implement a bug.

On another note, this library has never followed SEMVER, but I agree it is a good idea to start it with the next bigger improvements.

[2020-04-19 14:07] imohuan opened #135 "what this!, return a empty object?"
[code]

**return**

----------
[code]

## I wrote it against the official code?   What did I do wrong?
# Why ?

[2020-04-19 14:08] imohuan commented on #135
[code]

[2020-04-19 14:10] imohuan commented on #135
`ts-node` 执行代码
版本` "json2typescript": "^1.4.1",`

[2020-04-19 18:27] andreas-aeschlimann commented on #135
Hello @imohuan and thank you for your question!

I think everything is correct except a little detail:

(from the docs)

Try this and it should work:

[code]

[2020-04-20 00:15] imohuan commented on #135
## thanks!
** Maybe I didn't see it **

[2020-04-20 00:16] #135 closed

[2020-05-05 11:26] luben-gonsalves opened #139 "Not able to convert the Map objects"
[code]
I am doing a post request , when i try to deserialize the the json to User class it doesnt convert gives me this error

` Fatal error in JsonConvert. Failed to map the JSON object to the class "UserRegistrationRequestBody" because of a type error.

        Class property:
                organisationConnections

        Expected type:
                Map

        JSON property:

[2020-05-05 11:28] andreas-aeschlimann commented on #139
Map has not been implemented in the library. You have to convert it to object or array to work with it.

You can use the `@CustomConverter` decorator to make this work, it should not be too hard!

[2020-05-05 11:31] luben-gonsalves commented on #139
Okay thank you.

[2020-05-05 11:31] #139 closed

[2020-05-05 11:44] luben-gonsalves commented on #139
This was a great library, i wish it had support for Map, because the application i am working on  use Lot of Maps, will it support anytime in future? do you know of any other library which does??

[2020-05-05 12:15] andreas-aeschlimann commented on #139
I don't know of a library that does support it. But if you use it a lot, you could write some code and we could include it? I honestly don't think it is too hard. A map is nothing else than an object with making all properties optional, right? The problem is maybe the generic part of the map, because it does not exist in the compiled JavaScript.

If you need a quick fix:
1. Do not use Map as the c

[2020-05-05 12:48] luben-gonsalves commented on #139
oh okay thanks alot will try this :).

[2020-05-06 10:06] tobiasschweizer opened #140 "PropertyMatchingRule not Exported from index.ts?"
I use version 1.4.1 of `json2typescript` and noticed the following **internal** import path in my code:

`import { PropertyMatchingRule } from "json2typescript/src/json2typescript/json-convert-enums";`

I think `PropertyMatchingRule ` should be added to https://github.com/AppVision-GmbH/json2typescript/blob/ad6a04b729d13988a71313a20457eec95bd24a9c/index.ts#L3

[2020-05-06 10:16] andreas-aeschlimann commented on #140
Yes, I have already seen and fixed that. :)

[2020-05-06 11:20] andreas-aeschlimann commented on #140
It is here:
https://github.com/AppVision-GmbH/json2typescript/pull/138/commits/bd3725d97bc27bf552aeafc04a530b4714a4b180

[2020-05-06 11:23] tobiasschweizer commented on #140
just tell me once you published a new version containing this fix

[2020-05-07 10:55] JBuijgers opened #141 "Type 'undefined' is not assignable to type 'string'"
Using the [Mapping example](https://www.npmjs.com/package/json2typescript#mapping-example), multiple errors occur. An example would be the name property, it is declared as a string, but it is assigned an undefined value as well. Hence, the error "Type 'undefined' is not assignable to type 'string'". I feel like I missed something in the documentation, help is appreciated.

[2020-05-07 11:40] andreas-aeschlimann commented on #141
Hey, when I wrote the docs I used strict mode false (in tsconfig, compiler options). I guess you use strict mode true, then the examples do not work.

If you like you can make a PR to fix the ReadMe. I think it would be cleaner if the example worked in both modes.

[2020-05-07 11:41] andreas-aeschlimann commented on #141
To fix it, just assign a default value of the necessary type.

`name: string = undefined`

then befomes

`name: string = „“`

[2020-05-07 12:22] JBuijgers commented on #141
Great, thanks for clarifying! I was wondering btw, why is it that a class property needs a default value before a @JsonProperty annotation is able to assign it a value?

[2020-05-07 12:34] andreas-aeschlimann commented on #141
Because then the deserializer of JsonConvert couldn't find those properties and they would be ignored. It is some behavior of JavaScript that properties do not "exist" until they have a value.

[2020-05-07 12:40] andreas-aeschlimann commented on #141
FYI, I have updated the ReadMe in the latest commit on GitHub.

[2020-06-01 19:25] andreas-aeschlimann opened #144 "Parent data in custom converter"
As of now, the `JsonCustomConvert` interface has the methods `serialize(data: T): any` and `deserialize(data: any): T`.

In some cases, the (de-)serialization might be dependent on the parent's object values. We could add an optional parameter `parentData?: any` in both methods that contains the parent data (object) if it exists, `undefined` otherwise.

[2020-06-03 19:45] valoricDe commented on #47
Using https://github.com/weichx/cerialize you can define also a non empty constructor. Maybe it is possible to the idea from there.

[2020-06-03 19:47] andreas-aeschlimann commented on #47
Interesting, thank you for the link.

[2020-06-08 13:11] tobiasschweizer opened #145 "README: Make Clearer What JSOn Refers to"
In the README, it is stated:

Could it be made clearer that JSON refers to a JS object, not a serialised representation of an object (a string)?

[2020-06-19 14:24] erhanfirat opened #146 "Defining HashMap<key:string, <SomeType>> in @JsonProperty annotation"
I wonder if there is any way to map data in format HashMap<key:string, <SomeType>> using json2typescript annotations?

I have tried to define an interface for the HashMap as below:
[code]

In Model:

`@JsonProperty('responsibnilities', Responsibility, true)
responsibilities: Responsibility[] = null;`

[2020-06-25 10:34] jmesa-sistel opened #147 "[Question] ECMAScript module syntax ?"
Hello I am using angular 10 and I get a warning when I use the library.

[code]
But I think the library is using ECMAScript module syntax, maybe is related how is build?.

[2020-06-26 09:01] rayita commented on #147
Same issue here.

The problem is line 10 of tsconfig.json

    "module": "commonjs",

it must be "esnext" or "es2020" to avoid this warning (and optimization issues).

[2020-06-26 09:04] andreas-aeschlimann commented on #147
Hi all, that sounds bad.

Is that all we need to fix it? Can you provide a PR?

[2020-06-29 11:36] rayita commented on #147
Yo got it #148

[2020-06-29 14:24] andreas-aeschlimann commented on #147
I will merge it and a release a new version soon.

Thanks!

[2020-07-03 01:02] john-sanders-2 commented on #114
Thumbs up for this idea. In some of my data classes, I have calls to other private functions after data is set. This worked great using Object.assign, because it calls your setter methods. Now that my data is just being set into the variable, I've lost that functionality.

[2020-07-10 16:47] gsusI commented on #91
@andreas-aeschlimann any update on this?

[2020-07-10 16:48] gsusI commented on #91
@seanbotha123, did you manage to find a workaround?

[2020-07-14 05:18] seanbotha123 commented on #91
Hi @gsusI,

Our solution was basically to go fetch the needed types before running the deserialize call and an then getting the types from a helper as it was deserializing.

Hope this helps.

[2020-07-14 05:58] seanbotha123 commented on #112
Hi @andreas-aeschlimann,

Have you given any thought as to which method would be the best to use? I would like to look at this issue and submit a pull, but would like your input on the best way to do this.

[2020-07-14 11:17] andreas-aeschlimann commented on #112
I suggest that we introduce a new flag for serialization mode. When set, the serialization compares a given instance to a new instance and omits equal values.

There is still discussion going on in a PR how we shall handle different scenarios of serialization with null/undefined, so I am not sure if we should wait for that and include this flag there.

[2020-07-16 23:18] andreas-aeschlimann commented on #146
It is not possible out of the box.

What you want to achieve could be done with a `CustomConvert` implementation. If you can make it work, feel free to share it with us.

[2020-07-17 13:52] andreas-aeschlimann commented on #147
Closed by #148

[2020-07-17 13:52] #147 closed

[2020-07-17 13:58] #133 closed

[2020-07-17 13:59] andreas-aeschlimann commented on #140
This will be included in the 1.5.0 release coming today, @tobiasschweizer

[2020-07-17 13:59] #140 closed

[2020-07-17 14:00] #141 closed

[2020-07-21 13:20] spoilsportmotors commented on #110
I think you can safely close this; if you update the json2typescript dependency in the provided stackblitz example to current (1.4.1 at this time), the error is gone.

[2020-07-21 14:02] andreas-aeschlimann commented on #110
Thanks for the heads up!

[2020-07-21 14:02] #110 closed

[2020-08-04 15:56] speery4 opened #154 "Nuxt Client Site Hydration"
Our app is using Nuxt for server side rendering and we are having an issue with client side hydration. I have traced the issue back to us renaming props. Server side the model is fine, but when we get to the client the props have already been renamed so when we try to deserialize the object it fails because the property is missing. Outside of passing the entire original object to the client, i'm n

[2020-09-07 07:29] tobiasschweizer commented on #147
Will there be a new version on npm soon?

[2020-09-07 22:39] andreas-aeschlimann commented on #147
There is still a problem with the PR which I mentioned in the PR itself.

Basically all imports in all files have to be redefined if we apply the PR. I don't know yet how to solve this issue.

[2020-09-08 06:39] tobiasschweizer commented on #147
I had had to set the option `"moduleResolution": "node"`to make my existing imports work.

[2020-09-08 07:48] musicEnfanthen commented on #147
@jmesa-sistel  @rayita As a workaround (until the corresponding PR is merged), you can allow a CommonJs dependency in your `angular.json`:

[code]

[2020-09-08 08:11] tobiasschweizer commented on #147
I think this just [suppresses](https://angular.io/guide/build#configuring-commonjs-dependencies) the warning, right?

[2020-09-08 08:28] musicEnfanthen commented on #147
Yes, of course. It is just a temporary solution until the PR is merged.

[2020-09-08 22:28] andreas-aeschlimann commented on #154
Sorry for the late reply, I didn't get a notification about your question. Have you solved it by now?

If not, can you show an example json string that you try to deserialize? As the docs state, you can make the property optional like this:

[code]

[2020-09-08 22:32] andreas-aeschlimann commented on #147
What does it do?

[2020-09-09 08:03] tobiasschweizer commented on #147
In my project, I directly import JSON files using `import` (`"resolveJsonModule": true,`). After setting `module` to "es6" (from "commonjs") I got errors which I could fix by using the "moduleResolution" option.

https://www.typescriptlang.org/docs/handbook/module-resolution.html#module-resolution-strategies

I don't really understand why this does in combination with "`module: es6`" but it works

[2020-10-19 12:56] ben12 commented on #99
But we cannot define the json2typescript conversion configuration, because it restore the dependency:

[code]

So, how to do ?

[2020-10-19 12:58] andreas-aeschlimann commented on #99
Why not using IFootballLeague in the `@JsonProperty` decorator? This is how we do it as well.

[2020-10-19 13:02] ben12 commented on #99
I get this error:
[code]

[2020-10-19 13:04] andreas-aeschlimann commented on #99
Is IFootballLeague a class (not interface) and defined in its own file?

[2020-10-19 13:33] ben12 commented on #99
Ok, sorry, in my case `IFootballLeague` is an interface :/

My modèle is complex and i migrate it to use json2typescript, but i get a lot of "Circular dependency detected".
I have solved it for the now by using `@JsonProperty("league", Any)` to break the circular dependencies.

[2020-10-19 15:50] andreas-aeschlimann commented on #99
Interfaces get removed after compilation, so you need to use classes. Then it will work without problems with the approach I gave above!

[2021-02-23 22:17] Xavod opened #157 "Bug with 4.x typescript versions"
The library does not work with the 4.x typescript versions of a project under Angular 11.x.
No error in eslint in the code, but when trying to deserialize, we get the following error which refers to the @JsonProperty of the model in the browser console :
 it's not a function'.
Has anyone ever encountered this concern and if so, have you found a solution?

Thank you for your feedback

[2021-02-23 23:10] andreas-aeschlimann commented on #157
Are you sure about that? I am using TypeScript 4.0.5 with Angular 11 in this very second in a project.

Can you provide an example to rule out any other issues?

[2021-02-23 23:12] andreas-aeschlimann commented on #154
Closing this issue for now. Please let us know if there are any more issues.

[2021-02-23 23:12] #154 closed

[2021-02-27 17:19] iturn opened #158 "Jest - TypeError: json2typescript_1.JsonConvert is not a constructor"
All works well when in the NestJs and normal runtime, but while running in JEST it fails;

<img width="345" alt="errpr" src="https://user-images.githubusercontent.com/12299090/109394624-3e8cce00-7928-11eb-8f01-cb0c04dda1f1.png">

[code]

We have tried to work it out with je jest mapper config without success.

[2021-04-07 16:10] justmobiledev opened #161 "Allow optional undefined JSON properties"
Hi,
first, thanks for creating this awesome library - which I like a lot.

Would it be possible to add a feature to allow optional undefined JSON properties?
For example, if I have a JSON like this:
person:
{
  name: "my name",
  title: "my title"
}
And for title create an optional property like this:
  @JsonProperty('title', String, true)
  title?: string;

  But let's say the backend deploys mod

[2021-04-07 19:37] andreas-aeschlimann commented on #161
Hello, I am not quite sure if I understand your request.

You can already do this:
[code]
If you do this, `title` will only be set if it is present in the JSON. Otherwise, the value will remain `undefined`. No exception will be thrown, unless `title` is given and not a string and not null. At the moment, null is the same as absent in the JSON.

[2021-04-23 17:15] Almar commented on #67
Hi all,
I wrote the following enum converter base class to help me out.

[code]

Usage:
[code]

[2021-04-27 23:07] andreas-aeschlimann commented on #67
Thank you @Almar, very cool. Do you like to make a PR or shall I implement it occasionally?

[2021-04-27 23:09] andreas-aeschlimann commented on #157
Please feel free to reopen the issue, if the problem still persists.

[2021-04-27 23:09] #157 closed

[2021-05-05 16:53] Almar commented on #67
Hey @andreas-aeschlimann,
It would be cool if I can contribute via a PR. I'll give it a try ;-)

[2021-05-05 20:55] andreas-aeschlimann commented on #67
Nice! Please try to add some tests as well for enums.

[2021-06-01 21:38] tlmurphy opened #163 "Script for upgrading to 1.4.0+"
At my work, we noticed our version of json2typescript was behind. When I noticed the requirement to have a parameter for `JsonObject` in 1.4.0+, I began manually replacing things in our code. We use this library quite heavily so I made a script to help with this: https://gist.github.com/tlmurphy/71b58c71e594899120da365159d7d40d

I did this as quickly as I could since I didn't want to spend too muc

[2021-06-01 22:15] andreas-aeschlimann commented on #163
Very cool, thank you for your input. I will mention it in the ReadMe!

[2021-06-01 22:16] andreas-aeschlimann commented on #161
Closing this for now. Please report back if there is an issue!

[2021-06-01 22:16] #161 closed

[2021-06-01 22:28] andreas-aeschlimann commented on #163
The script is now mentioned in the ReadMe. I will close this issue but you can keep commenting if you like to add some more information.

[2021-06-01 22:28] #163 closed

[2021-06-01 22:29] tlmurphy commented on #163
Awesome, thanks!

[2021-07-22 13:36] #146 closed

[2021-07-22 13:40] andreas-aeschlimann commented on #145
After reviewing the docs, I think this should be clear enough. The tip clearly states that the return value is not a string.

[2021-07-22 13:40] #145 closed

[2021-07-22 14:37] #87 closed

[2021-07-22 14:52] andreas-aeschlimann opened #166 "Rewrite implementation and implement reflect-metadata to simplify code"

[2021-07-22 14:55] andreas-aeschlimann opened #167 "Improve handling of undefined/null values in serialization/deserialization"
As of now, handling of null/undefined values are dependent on the property settings (mainly isOptional) and global settings. We should improve the way it handles that.

As discussed in https://github.com/appvision-gmbh/json2typescript/pull/138, we will need to introduce breaking changes for concise usage of null/undefined.

[2021-07-26 16:43] andreas-aeschlimann commented on #158
If the test framework cannot compile the code, it is probably caused to the defined  EcmaScript version. You could try the newest version of json2typescript (1.5.0-rc.0) which improved compatibility.

Please report back if this is still an issue.

[2021-07-26 16:43] #158 closed

[2021-07-26 16:44] andreas-aeschlimann opened #168 "Release version 1.5.0 after testing the release candidate"
The version 1.5.0-rc.0 is out now. We should release this version if there are no issues with the update.

[2021-07-26 22:46] andreas-aeschlimann opened #169 "ignoreRequiredCheck is removed in 1.5.0 RC0"
We accidentally removed `ignoreRequiredCheck`. Instead, we should just deprecate it as originally planned here:

https://github.com/appvision-gmbh/json2typescript/blob/c4cbaa2a2789faf45dfb4967700d8ccb9cfb3ef5/src/json2typescript/json-convert.ts

[2021-09-17 11:02] scinfu opened #170 "deserialize array"
How can I deserialise an array without use a foreach statement?
json example:
[code]
[code]

User[] is not accepted.

Thank you

[2021-09-17 22:08] andreas-aeschlimann commented on #170
Hello and thanks for your issue.

As stated in the docs, you can only use `deserializeObject` to deserialize objects. You should use `deserializeArray` if you are expecting an array or `deserialize` if you expect both.

[2021-09-21 22:51] andreas-aeschlimann commented on #170
I am going ahead and close this question. Feel free to report back if you find any bugs.

[2021-09-21 22:51] #170 closed

[2021-11-11 23:06] andreas-aeschlimann opened #171 "Clean up code"
Some old code is still remaining as comment. Should be removed for the release.

https://github.com/appvision-gmbh/json2typescript/blob/5a1bab5bebbd9eeddf9278542edc41e7ce5f1e14/src/json2typescript/json-convert.ts#L1203-L1356

[2021-11-11 23:14] andreas-aeschlimann commented on #169
It is still there in the master branch? I don't know why I commented this.

[2021-11-11 23:14] #169 closed

[2021-11-12 00:36] andreas-aeschlimann opened #173 "Error in custom converters"
When I define an own CustomConverter (example: DateConverter), I can define it to throw errors.

The error message is a bit confusing. The expected type is listed as `undefined` while it should better be the `DateConverter` instead (or none at all).

Example:
[code]

[2021-12-03 17:30] AmoryR opened #174 "Groups creation for property"
In my API, I have a list of companies and I want to be able to retrieve all of them or retrieve a specific one. So I have two endpoints :

- GET /companies -> [Company]
- GET /companies/:id -> Company

But the Company model contains a lot of data, so I want to create groups for the endpoints.

For example :

- GET /companies -> [Company]

Returns

[code]

- GET /companies/:id -> Company

Returns

[2021-12-03 20:16] andreas-aeschlimann commented on #174
Of course, this is probably the most basic case scenario. Just use `jsonConvert.deserializeArray` to deserialize the whole array and `jsonConvert.deserializeObject` if you have only one object. All you need to do is set your classes up as in the ReadMe.

[2021-12-03 21:02] AmoryR commented on #174
This is what I’ve done in my project but how can I tell, in this scenario I want an array of Company with propertyA and propertyB and in this scenario I just want one Company but with propertyA, propertyB and propertyC ?

I use JsonProperty decorator to serialize/deserialize a property but this one is always serialize/deserialize, can I choose when I want it in my returned object?

Thank you for y

[2021-12-04 16:31] andreas-aeschlimann commented on #174
Yes, you can use optional properties as well (see docs for ConvertingMode).

[2021-12-04 17:04] AmoryR commented on #174
I found a way to achieve what I wanted by using PropertyConvertingMode :

`@JsonProperty("value", Number, PropertyConvertingMode.PASS_NULLABLE)`

Thank you Andreas

[2021-12-04 17:15] andreas-aeschlimann commented on #174
Yes, this is the way I would do it. The TypeScript type should then be `value: number|null = null`.

[2022-01-08 15:58] andreas-aeschlimann opened #175 "Behavior with IgnorePrimitiveChecks = true"
I noticed that if we set `ignorePrimitiveChecks = true`, then all `undefined` properties are ignored as well.

Example:

JSON:
[code]

TYPESCRIPT:
[code]

Deserializing the JSON above usually results in an error (property test not found in the JSON). However, when `ignorePrimitiveChecks = true`, then the error is ignored.

The reason is the following: json2typescript considers a missing property `

[2022-02-09 16:17] andreas-aeschlimann opened #176 "Partial serialization or deserialization"
I encountered some use cases where partial serialization would have been useful.

For example, I get a User instance from the server and deserialize it. Then, a user updates some fields in a form and wants to save the form. The project serializes the form data to a User object (`this.serialize(formData, User)`), but it will throw an error because the User data is incomplete.

It would be nice if w

[2022-05-01 22:56] #174 closed

[2022-05-04 16:11] oayoub84 commented on #47
Hi, i have the same problem but with Dependency Injection, so i cannot use neither optional args nor fake method. I think it is better to pass an instance of the class instead of a reference. That way we can avoid all sort of problems.

[2022-05-04 16:25] andreas-aeschlimann commented on #47
Does https://github.com/appvision-gmbh/json2typescript/issues/47#issuecomment-353693436 not fix it?

[2022-05-04 22:33] oayoub84 commented on #47
No, the constructor args are mandatory.

[2022-05-07 20:20] andreas-aeschlimann commented on #47
How do you mean "mandatory". By the DI system?

Yes you can make a PR if you like, but in order to spare us a misunderstanding, I suggest you describe first how you plan to implement it or what you plan to change.

[2022-05-10 21:51] #168 closed

[2022-05-10 21:51] #171 closed

[2022-05-18 17:05] oayoub84 commented on #47
This is an example in one of our projects where we use Json2Typescript.
[code]
Where we can't pass the translateService to the title(), because its used more than 15 times in code (angular templates). And adding a function to the class juste for injecting translateService, isn't a good solution because the property will be optional and the compiler will not rise an error if we forgot to call the f

[2022-05-25 19:17] ksstoneware opened #187 "String deserialization broken in 1.5.0"
String deserialization appears to be broken in version 1.5.0 if I set the value to a JSON object. It will deserialize successfully even though the value is not a string.

I have a class like this:
[code]
In a unit test, I set `testData.code = { name: "code" }` and call `converter.deserializeObject(testData, ClientLogMessage);`. In 1.4.1, it throws an error as expected. In 1.5.0, it does not and re

[2022-05-25 21:03] andreas-aeschlimann commented on #187
Thank you again for this issue.

This was a tricky one because no test existed and it is a rare error. Usually, we just have bad primitive types and not completely different types.

A fix will be published to NPM in the next minutes.

[2022-05-25 21:04] #187 closed

[2022-05-25 21:31] ksstoneware commented on #187
@andreas-aeschlimann Happy to help! Thank you for the quick fix!

[2022-06-01 16:23] angad-singh15 opened #189 "Feature Request: Workaround for Duplicate Class Names Between Local Code and Dependency"
After reading your documentation, I understand that the @JsonObject decorator now requires the class identifier as the first parameter. However, one of my dependencies for my project also uses to Json2Typescript and has a conflicting class name with one of my own. Is there a way I can have Json2Typescript separate the use of the duplicate class names?

Thanks in advance!

[2022-08-21 21:10] pebkacerr opened #190 "How can one annotate or create a custom convertor for a generic type property?"
If I try to annotate the property:

[code]

If I try a custom convertor for the property:

[code]

To address these issues I would have to pass a class reference but I cannot do that... that's the entire point of generics.
How could I go around this issue. Is there any solution?

[2022-08-21 21:34] andreas-aeschlimann commented on #190
I don't think there is a simple solution to that problem. Keep in mind that json2typescript runs in JavaScript in your compiled application and there is no such things as generics types on runtime. This means that you always need to work with types that still exist on runtime.

You can achieve a similar functionality with union types instead of generics and custom converters. Please also refer to

[2022-08-21 21:36] andreas-aeschlimann commented on #189
I also recommend to encourage the third-party dependency to use unique names for their class identifiers.

If you have something more to add, feel free to reopen the issue.

[2022-08-21 21:36] #189 closed

[2022-09-29 09:09] mdragossh opened #191 "Class identifiers is unique but still getting error."
@JsonObject('City') // Make sure "City" is a unique identifier for this class
export class City {}

Get an error
Error: Fatal error in JsonConvert. You must use unique class identifiers in the @JsonObject() decorator.
        Class identifier:
                City

[code]

[2022-09-29 14:40] andreas-aeschlimann commented on #191
Can you provide a minimal example in a Stackblitz?

I don't think it is possible to get this error with a class definition like above, unless you have a conflict of multiple class names.

[2022-09-30 23:02] andreas-aeschlimann commented on #191
I don't know what's going on under the hood with nextjs, but the problem seems that your file `hello.ts` is loaded twice in this application. I was able to verify this fact by adding a `console.log` into this file. Thus, the class City is read twice and `json2typescript` throws the error about not having a unique class City.

If you manage to work around this duplicate loading, you will fix the er

[2022-10-01 13:17] mdragossh commented on #191
Ok, thanks, I should try to play with reactStrictMode enable and disable.

[2022-10-07 10:09] srn271 commented on #144
This is exactly the feature I currently need and that's why I came across this issue.

Would be great if a context could be passed.
Then this could be extended in the future with other useful data.